<div class="inner">
  <div class="title row">
    <div class="col s3 close tealish-text" (click)="goBack()">
      <i class="fa fa-chevron-left"></i>
      Order Previews
    </div>
    <div class="col s6  main-title center-align">Purchase Order Preview</div>
    <div class="col s3">
      <div class="right dd-bt">
        <button class="uptracker-form-btn tealish white-text waves-effect waves-light">Send</button>
        <button materialize="dropdown"
          class='dropdown-button  uptracker-form-btn square tealish white-text waves-effect waves-light'
          data-activates='convertall'>
          <i class="fa fa-chevron-down"></i>
        </button>
        <ul id='convertall' class='dropdown-content'>
          <li>
            <a href="#">one</a>
          </li>
          <li>
            <a href="#">two</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="item-card">
    <h2>
      Purchase Order #123
    </h2>
    <div class="row-half">
      <h3>From</h3>
      <p>Company Name</p>
      <p>Address Line 1</p>
      <p>Address Line 2</p>
      <p>Address Line 3</p>
      <p>Phone: 111-222-3333</p>
      <p>Fax: 111-222-3333</p>
      <p>E-mail: jane.doe@acme.com</p>
    </div>
    <div class="row-half">
      <h3>Ship To</h3>
      <p>Company Name</p>
      <p>Address Line 1</p>
      <p>Address Line 2</p>
      <p>Address Line 3</p>
      <p>Phone: 111-222-3333</p>
      <p>Fax: 111-222-3333</p>
      <p>E-mail: jane.doe@acme.com</p>
    </div>
    <div class="row-half">
      <h3>To</h3>
      <p>Company Name</p>
      <p>Address Line 1</p>
      <p>Address Line 2</p>
      <p>Address Line 3</p>
      <p>Phone: 111-222-3333</p>
      <p>Fax: 111-222-3333</p>
      <p>E-mail: jane.doe@acme.com</p>
    </div>
    <div class="row-quarter">
      <h3>Account #</h3>
      <p>123456789</p>
      <br>
      <h3>Order Date</h3>
      <p>01/01/2017</p>
      <br>
      <h3>Order Type</h3>
      <p>E-Mail</p>
      <br>
    </div>
    <div class="row-quarter">
      <h3>Shipping Method</h3>
      <p>Not Specified</p>
      <br>
      <h3>Payment Method</h3>
      <p>Credit Card</p>
      <br>
      <h3>Ordered By</h3>
      <p>Jane Doe</p>
      <br>
    </div>

    <div class="header-with-line">
      <div>Line Items</div>
    </div>
    <div class="price-table">
      <div class="price-row headings">
        <div class="price-item">Catalog #</div>
        <div class="price-item">Description</div>
        <div class="price-item">Qty</div>
        <div class="price-item">Unit Price</div>
        <div class="price-item">Pkg Price</div>
        <div class="price-item">Subtotal</div>
      </div>
      <div class="price-row">
        <div class="price-item">123-456</div>
        <div class="price-item">Some product descriptionDescription
          <br>
          <i>*Discounted see discounts section</i>
        </div>
        <div class="price-item">1</div>
        <div class="price-item">$10.00</div>
        <div class="price-item">$100.00</div>
        <div class="price-item">$200.00</div>
      </div>
    </div>
    <div class="header-with-line">
      <div>Discounts</div>
    </div>
    <div class="price-table">
      <div class="price-row headings">
        <div class="price-item">Type</div>
        <div class="price-item">Description</div>
        <div class="price-item">&nbsp;</div>
        <div class="price-item">Discount Qty</div>
        <div class="price-item">Reward Pts</div>
        <div class="price-item">Discount</div>
      </div>
      <div class="price-row">
        <div class="price-item">BoGo</div>
        <div class="price-item">BoGo on #123-456
        </div>
        <div class="price-item">&nbsp;</div>
        <div class="price-item">1</div>
        <div class="price-item">0</div>
        <div class="price-item">-$100.00</div>
      </div>
    </div>
    <div class="header-with-line">
      <div>Total</div>
    </div>
    <div class="totals">
      <div>
        <div class="total-name">
          Lineitems
        </div>
        <div class="total-value">
          $200.00
        </div>
      </div>
      <div>
        <div class="total-name">
          Discounts
        </div>
        <div class="total-value">
          $100.00
        </div>
      </div>
      <div>
        <div class="total-name">
          Primary Tax
        </div>
        <div class="total-value">
          $20.00
        </div>
      </div>
      <div>
        <div class="total-name">
          Shipping & handling
        </div>
        <div class="total-value">
          $5.00
        </div>
      </div>
      <div>
        <div class="total-name bigger">
          Total
        </div>
        <div class="total-value bigger">
          $125.00
        </div>
      </div>
    </div>
  </div>
</div>
