<div *ngIf="visible" class="list is-grid-view orders-short-detail">
  <div>
    <div class="flex-row heading row">
      <div class="col s9">Product Name</div>

      <div class="col s1">#Products</div>
      <div class="col s2">
        <!--<div class="right edititem filled"-->
          <!--materialize="dropdown"-->
          <!--[attr.data-activates]='"order_dd_"+i'>-->
          <!--<fa name="ellipsis-h"></fa>-->
        <!--</div>-->

        <!--<ul [id]='"order_dd_"+i' class='dropdown-content'>-->
          <!--<li>-->
            <!--<a class="tealish-text" href="/">Edit</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="tealish-text" href="/">Resend</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="tealish-text" href="/">Reorder</a>-->
          <!--</li>-->
        <!--</ul>-->
        <div>Total</div>
      </div>
    </div>
    <div class="flex-row item row smallrow" *ngFor="let item of items;let i=index;">
      <div class="col s9 flex-center">
        <div class="input-checkbox left checkbox">
          <input
            [(ngModel)]='item.checked'
            type="checkbox"
            class="subselected-input{{i}}"
            id="subselected{{i}}"
          />
          <label for="subselected{{i}}"></label>
        </div>
        <div class="left flex-center">
          <div> {{ item.item_name }}</div>
        </div>
      </div>
      <div class="col s1">{{ item.quantity }}</div>
      <div class="col s2">
        <div class="right edititem" materialize="dropdown" [attr.data-activates]='"order_dd"+i'>
          <fa name="ellipsis-h"></fa>
        </div>
        <ul [id]='"order_dd"+i' class='dropdown-content'>
          <li>
            <a class="tealish-text" href="#">Edit</a>
          </li>
          <li>
            <a class="tealish-text" href="#">Resend</a>
          </li>
          <li>
            <a class="tealish-text" [routerLink]="['receive']">Receive</a>
          </li>
          <li>
            <a class="tealish-text" href="#">Reconcile</a>
          </li>
          <li>
            <a class="tealish-text" href="#">Reorder</a>
          </li>
          <li>
            <a class="red-text" href="#">Void</a>
          </li>
        </ul>
        <div>{{ item.sub_total }}</div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
