<form class="uptracker-form"
  materialize
  autocomplete="off"
  novalidate
>
  <div class="row">
    <div class="col s12 m6">
      <div class="ttl bold">Vendor</div>
      <app-chips-input
        [formControl]="vendorsControl"
        [materializeParams]="autocompleteVendors"
      ></app-chips-input>
    </div>
    <div class="col s12 m6">
      <app-checkboxes-filter
        [title]="'Department'"
        [collection]="(departmentCollection$ | async)"
        [classCol]="'m6'"
        [formControl]="departmentsControl"
      >
      </app-checkboxes-filter>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="ttl bold">Category</div>
      <app-chips-input
        [formControl]="categoriesControl"
        [materializeParams]="autocompleteCategories"
      ></app-chips-input>
    </div>
    <div class="col s12 m6">
      <div class="ttl bold">My Favorite</div>
      <app-single-checkbox-filter
        [title]="'My Favorite'"
        [control]="myFavoriteControl"
      >
      </app-single-checkbox-filter>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="ttl bold">Accounting</div>
      <app-chips-input
        [formControl]="accountingsControl"
        [materializeParams]="autocompleteAccountings"
      ></app-chips-input>
      <app-date-filter
        [title]="'Previously ordered within X-X dates'"
        [orderedFrom]="orderedFromControl"
        [orderedTo]="orderedToControl"
      ></app-date-filter>
    </div>
    <div class="col s12 m6">
      <div class="ttl bold">Others</div>
      <app-single-checkbox-filter
        [title]="'Show Retired Products'"
        [control]="retiredControl"
      >
      </app-single-checkbox-filter>
      <app-single-checkbox-filter
        [title]="'Show Hazardous Products'"
        [control]="hazardousControl"
      >
      </app-single-checkbox-filter>
      <app-single-checkbox-filter
        [title]="'Show Trackable Products'"
        [control]="trackableControl"
      >
      </app-single-checkbox-filter>
      <app-single-checkbox-filter
        [title]="'Show Tax Exempt Products'"
        [control]="taxExemptControl"
      >
      </app-single-checkbox-filter>
      <app-single-checkbox-filter
        [title]="'Most frequently ordered'"
        [control]="mostFrequentlyOrderedControl"
      >
      </app-single-checkbox-filter>
    </div>
  </div>
</form>