$tealish: #33c6d9;
$red: #f00;
$white: #fff;
$greeny: #4CAF50;
$dark: #444;
$grey:  #9a9c9e;
$light-grey: #d6d6d6;
$black: #000;

:host /deep/ {
  .products {
    .top{
      .title{
        margin-bottom:15px;
      }

      .filter{
        .filter-btn{
          a{
            margin: 0 0 0 10px;
            line-height: 30px;
            cursor: pointer;

            i {
              margin-right: 3px;
              font-size:22px;
            }

            & > *{
              vertical-align: middle;
            }
          }
        }
      }
    }

    .list{
      letter-spacing: 0;
      word-spacing: 0;
      font-size:0;
      padding-bottom:15px;
      text-align:left;
      margin-left:-20px;
      &.is-tiles-view {
        .item {
          display: inline-block;
          vertical-align: top;
          width: 250px;
          height: 250px;
          margin-left: 20px;
          margin-bottom: 20px;
          max-width: 100%;
          position: relative;

          .inner {
            width: 250px;
            height: 250px;
            border: 1px solid #d6d6d6;
            background: #fff;
            cursor: pointer;
            border-radius: 5px;

            .hazardous {
              position: absolute;
              left: 10px;
              top: 10px;
              color: #f1594e;
            }

            //&:hover{
            //  width:260px;
            //  height:260px;
            //  transform: translateX(-5px) translateY(-5px);
            //  box-shadow: 2px 2px 0 0 #e6e6e6;
            //
            //  .img{
            //    margin-top:34px;
            //    margin-bottom:27px;
            //    height:125px;
            //    width:125px;
            //  }
            //}

            &.active {
              border: 3px solid #000;
            }
          }

          .img {
            margin: 31px auto 30px;
            height: 120px;
            width: 120px;
            background: #f1f2f2 no-repeat center center;
            background-size: cover;
            position: relative;

            .trackable {
              color: #33c6d9;
              position: absolute;
              right: -10px;
              bottom: -25px;
              font-size: 24px;
            }
          }

          .info {
            position: relative;
            font-size: 12px;
            margin: 0 2px 0 15px;

            .ttl {
              font-size: 14px;
              line-height: 18px;
              font-weight: bold;
              height: 36px;
            }

            .bottom {
              .variations {
                color: #9d9d9d;
              }

              .price {
                color: #33c6d9;
              }
            }

            .edit {
              display: none;
              cursor: pointer;
              position: absolute;
              width: 15px;
              height: 15px;
              background: url(/assets/img/icon-edit.svg) no-repeat;
              right: 21px;
              top: 2px;
              left: auto;
            }
          }

          &:hover {
            .info {
              .edit {
                display: block;
              }
            }
          }
        }
      }

      &.is-grid-view {

        .row {
          .col {
            display: block;
            label {
              vertical-align: middle;

            }
          }
        }
        .heading {
          margin: 10px 0;
          color:#444;
          border-bottom: 1px solid #888;
          font-size: 14px;
          font-weight:bold;
          .col {
          }
          button {
            width:30px;
            i{
              font-size:20px;
              line-height:28px;
            }
          }
        }
        .item {
          margin-bottom: 0;
          border-bottom: 1px solid #ddd;
          font-size: 14px;

          .col {
            min-height:40px;
            line-height:40px;
            color:#888;
            &:nth-of-type(2){
              color: $tealish;
            }
            .fa-eye, .fa-eye-slash {
              margin-right:8px;
              line-height:35px;
            }
            .fa-eye {
              color:$tealish;
            }
            .fa-eye-slash {
              color:$red;
            }
          }
        }

        input {
          margin: 0;
          height: 25px;
          font-size: 11px;
          background: transparent;
          padding-left: 8px;
          text-indent: 0;
          text-overflow: ellipsis;
          color: $grey;

          &.empty {
            color: $light-grey;
          }
        }

        div {

          &.input-checkbox, &.input-checkbox:disabled {
            [type="checkbox"] {
              & + label {
                vertical-align: middle;
                padding-left: 25px;
                font-size: 14px;

                &:before {
                  width: 17px;
                  height: 17px;
                  background-color: #f5f6f7;
                  border-color: #d6d6d6;
                  border-radius: 3px;
                }
              }

              &:checked {
                & + label:before {
                  border-width: 0 2px 2px 0;
                  background: transparent;
                  width: 10px;
                  height: 15px;
                  border-radius: 1px;
                  top: 1px;
                  left: -2px;
                  border-color: $tealish;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  .filter{
    .filter-right{
      float: none !important;

      //
      //&.red-helper{
      //  float:right !important;
      //}

      button{
        //float:left;
      }
    }
  }
}

@media all and (max-width: 500px){
  .products{
    .list{
      text-align:center;
      clear:both;
    }
  }
}

.no_results_container{
  opacity:0;
  z-index: -999;
  text-align: center;
  transition: opacity .3s;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;

  &.not_hidden{
    opacity:1;
    z-index: 999;
  }
  .img, .sub-buttons {
    display: inline-block;
    clear: both;
    margin: 10px auto 0;
  }
  .img{
    width: 80px;
    background-color: #ccc;
    border-radius: 40px;
    height:80px;
    text-align: center;
  }
  .img i {
    font-size:72px;
    color:#fff;
    line-height:80px;
    margin-left:-4px;
  }
  button {
    margin: 0 15px;
  }
 .text {
   clear:both;
    margin: 20px 10%;
   font-size: 34px;
   color: #bbb;
   font-family: Ubuntu, sans-serif;
   line-height: 1;
   width: 80%;
   display: inline-block;
 }


}
div.top {
  position: relative;
  z-index:1;
}


