<div class="products content">
  <div class="top">
    <div class="row filter uptracker-form clearfix">
      <div class="col s12 m6">
        <span class="title">
          <span class="main-title ">Orders</span>
          <span class="sub-title">{{total$ | async}} items</span>
        </span>
      </div>
      <div class="ptop5 filter-right">
        <div class="col s4 l3 m2 input wide-input">
          <input type="text"
            placeholder="Keyword search"
            [(ngModel)]="searchKey"
            class="col s12"
            (input)="searchFilter($event)"/>
        </div>
        <div class="col s4 l1 m2 filter-btn">
          <a (click)="showFiltersModal()">
            <fa [name]="'filter'"></fa>
            <span>Filters</span>
          </a>
        </div>
        <div class="col s4 m2  select sortby wide-input low-height">
          <select [(ngModel)]="sortBy" materialize="material_select" (change)="itemsSort($event)">
            <option value="">Sort by</option>
            <option value="A-Z">A-Z</option>
            <option value="Z-A">Z-A</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <ul class="tabs location-tabs" materialize="tabs">
        <li class="tab">
          <a href="#allTab" [class.active]="true">All</a>
        </li>
        <li class="tab" (click)="chooseTab('Open')">
          <a [class.active]="false">Open</a>
        </li>
        <li class="tab">
          <a href="#receivedTab">Received</a>
        </li>
        <li class="tab" (click)="chooseTab('Backorded')">
          <a [class.active]="false">Backordered</a>
        </li>
        <li class="tab" (click)="chooseTab('Flagged')">
          <a [class.active]="false">Flagged</a>
        </li>
        <li class="tab" (click)="chooseTab('Closed')">
          <a [class.active]="false">Closed</a>
        </li>
      </ul>
    </div>

    <div class="list is-grid-view" id="allTab">
      <div>
        <div class="heading row">
          <div class="col s2 left-align">
            <div class="input-checkbox left checkbox">
              <input
                type="checkbox"
                class="checkbox-input"
                [(ngModel)]="selectAll"
                id="selectAll"
                (click)="toggleSelectAll(!selectAll)"
              />
              <label for="selectAll"></label>
            </div>
            <div class="left">
              Order #
            </div>
          </div>
          <div class="col s1">Vendor</div>
          <div class="col s1">Location</div>
          <div class="col s1">Status</div>
          <div class="col s1">Placed</div>
          <div class="col s1">Received</div>
          <div class="col s1">Reconciled</div>
          <div class="col s2">#Products</div>
          <div class="col s2">
            <div class="right edititem"
              materialize="dropdown"
              data-activates='order_ddm'>
              <fa name="ellipsis-h"></fa>
            </div>
            <ul id='order_ddm' class='dropdown-content'>
              <li>
                <a class="tealish-text" href="#">Edit</a>
              </li>
              <li *ngIf="showMenuItem">
                <a class="tealish-text" href="#">Resend</a>
              </li>
              <li *ngIf="showMenuItem">
                <a class="tealish-text" (click)="onReceiveOrders()">Receive</a>
              </li>
              <li *ngIf="showMenuReconcile">
                <a class="tealish-text" href="#">Reconcile</a>
              </li>
              <li>
                <a class="tealish-text" href="#">Reorder</a>
              </li>
              <li>
                <a class="red-text" href="#">Void</a>
              </li>
            </ul>
            <div>Total</div>
          </div>
        </div>

        <div class="item row"
          *ngFor="let item of (orders$ | async);let i=index;"
          [class.no-border-bottom]="item">
          <div>
            <div class="col s2 left-align">
              <div class="input-checkbox left checkbox">
                <input
                  type="checkbox"
                  [(ngModel)] = 'item.checked'
                  (ngModelChange)="setCheckbox($event)"
                  class="selected-input{{i}}"
                  id="selected{{i}}"
                />
                <label for="selected{{i}}"></label>
              </div>
              <div [routerLink]="['/','orders',item.order_id]" class="left">
                {{ item.po_number }}
              </div>
            </div>
            <div (click)="changeVisibility(i)" class="col s1 pointer flex-center">
              <div>{{ item.vendor_name }}</div>
            </div>
            <div (click)="changeVisibility(i)" class="col pointer s1">{{ item.location }}</div>
            <div (click)="changeVisibility(i)" class="col pointer s1">{{ item.status }}</div>
            <div (click)="changeVisibility(i)" class="col pointer s1">{{ item.placed_date }}</div>
            <div (click)="changeVisibility(i)" class="col pointer s1">{{ item.received_date }}</div>
            <div (click)="changeVisibility(i)" class="col pointer s1">{{ item.reconciled_date }}</div>
            <div (click)="changeVisibility(i)" class="col pointer s2">{{ item.product_count }}</div>
            <div class="col s2">

              <div class="right edititem"
                materialize="dropdown"
                [attr.data-activates]='"order_dd_"+i'>
                <fa name="ellipsis-h"></fa>
              </div>

              <ul [id]='"order_dd_"+i' class='dropdown-content'>
                <li>
                  <a class="tealish-text" href="#">Edit</a>
                </li>
                <li *ngIf="item.status !== 'Received'">
                  <a class="tealish-text" href="#">Resend</a>
                </li>
                <li *ngIf="item.status !== 'Received'">
                  <a class="tealish-text" (click) = sendToReceiveOrder(item)>Receive</a>
                </li>
                <li *ngIf="item.status === 'Received'">
                  <a class="tealish-text" href="#">Reconcile</a>
                </li>
                <li>
                  <a class="tealish-text" href="#">Reorder</a>
                </li>
                <li>
                  <a class="red-text" href="#">Void</a>
                </li>
              </ul>

              <div>{{ item.total }}</div>
            </div>
            <div class="clearfix"></div>

            <app-order-detail [visible]="pastOrderService.itemsVisibility[i]" [item]="item"></app-order-detail>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <received-list id="receivedTab"></received-list>
  </div>
</div>