<div class="inner">
  <div class="row title center-align">Add to Order</div>
  <div class="row">
    <div class="col s12 select-title">Quantity</div>
    <div class="col s12 ">
      <div class="input" (change)="validateFields()" [class.invalid]="!valid1">
        <input
          type="text"
          class="quantity"
          [(ngModel)]="quantity"
          id="quantity"
        />
        <label for="quantity"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 select-title">Vendor</div>
    <div class="col s12">
      <div class="left select">
        <select  (change)="validateFields();vendorChange($event)" materialize="material_select"  [class.invalid]="!valid2">
          <option disabled value="">Choose vendor</option>
          <option *ngFor="let vendor of context.data.vendorArr" [value]="vendor.id">{{vendor.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 select-title">Location</div>
    <div class="col s12">
      <div class="left select">
        <select (change)="validateFields()" [(ngModel)]="location" materialize="material_select"  [class.invalid]="!valid3">
          <option disabled value="">Choose location</option>
          <option *ngFor="let location of context.data.locationArr" [value]="location.id">{{location.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mtop">
    <div class="center-align col s12">
      <button class="uptracker-form-btn" (click)="dismissModal()">Cancel</button>
      <button class="uptracker-form-btn " (click)="saveOrder()">Add</button>
    </div>
  </div>
</div>
