@import "../../../../../colors.scss";

.uptracker-form-btn {
  height: 36px;
  font-size: 14px;
  border: 1px solid #fff;
  width: 100px;
  margin: 0 10px;
  font-weight: normal;
  min-width: 80px !important;
  &:first-of-type {
    border-color: red;
    background-color: #fff;
    color: red;
  }
  &:last-of-type {
    border-color: $tealish;
    background-color: $tealish;
    color: #fff;
  }
}