<div class="inner">
  <div class="row title center-align">Warning</div>
  <div class="row center-align high">Please note, it is your responsibility to {{order_method}} the order into the Vendor. UPtracker helps you manage inventory but does not place {{order_method}} orders for Users.</div>
  <div class="row mtop mbot">
    <div class="center-align col s12">
      <button class="uptracker-form-btn" (click)="closeModal()">Email PO</button>
      <button class="uptracker-form-btn" (click)="closeModal()">Print PO</button>
      <button class="uptracker-form-btn" (click)="dismissModal()">Cancel</button>
    </div>
  </div>
</div>
