<div *ngIf="visible" class="list is-grid-view orders-short-detail">
  <div>
    <div class="flex-row heading row">
      <div class="col s3">Product Name</div>
      <div class="col s1">Location</div>
      <div class="col s1">Order#</div>
      <div class="col s1">Placed</div>
      <div class="col s1">Received</div>
      <div class="col s1">Reconciled</div>
      <div class="col s1">Qty</div>
      <div class="col s1">Package Price</div>
      <div class="col s1">Total</div>
      <div class="col s1">
      </div>
    </div>
    <div class="flex-row item row smallrow" *ngFor="let product of item.items; let i = index;">
      <div class="col s3 flex-center">
        <div class="input-checkbox left checkbox">
          <input
            [(ngModel)]='product.checked'
            type="checkbox"
            (ngModelChange)="setCheckbox($event)"
            class="subselected-input{{i + item.id}}"
            id="subselected{{i + item.id}}"
          />
          <label for="subselected{{i + item.id}}"></label>
        </div>
        <div class="left flex-center">
          <div>
            <a [routerLink]="['/products',product.product_id]">
              {{ product.item_name }}
            </a>
          </div>
        </div>
      </div>
      <div class="col s1 tealish-text">
        <a [routerLink]="['/locations','view',product.location_id]">{{ product.location_name }}</a>
      </div>
      <div class="col s1">
        <a [routerLink]="['/orders', product.order_id]">
          {{ product.po_number }}
        </a>
      </div>
      <div class="col s1">{{ product.placed_date }}</div>
      <div class="col s1">{{ product.received_date }}</div>
      <div class="col s1">{{ product.reconciled_date }}</div>
      <div class="col s1">{{ product.qty }}</div>
      <div class="col s1">{{ product.package_price }}</div>
      <div class="col s1">
        <div>{{ product.total }}</div>
      </div>
      <div class="col s1 right-align">
        <div class="right edititem" materialize="dropdown" [attr.data-activates]='"received_order_short_dd"+i'>
          <fa name="ellipsis-h"></fa>
        </div>
        <ul [id]='"received_order_short_dd"+i' class='dropdown-content'>
          <li>
            <a class="tealish-text" (click) = "editReceivedProduct(product)">Edit</a>
          </li>
          <li>
            <a class="tealish-text" [routerLink]="['/orders/reconcile']">Reconcile</a>
          </li>
          <li>
            <a class="tealish-text" (click)="buyAgainReceivedProduct(product)">Buy Again</a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
