<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="title center-align">Filter Settings</div>
  <app-orders-page-filters *ngIf="context.filtersType === 'ordersPageFilters'"></app-orders-page-filters>
  <app-marketplace-filters *ngIf="context.filtersType === 'marketplaceFilters'"></app-marketplace-filters>
  <app-inventory-group-filters *ngIf="context.filtersType === 'inventoryGroupFilters'"></app-inventory-group-filters>
  <!--<app-shopping-list-filters *ngIf="context.filtersType === 'shoppingListFilters'"></app-shopping-list-filters>-->
    <div class="footer-btn">
      <button class="uptracker-form-btn tealish white-text waves-effect waves-light" type="submit"
        (click)="applyFilters()"
      >
        Apply Filters
      </button>
      <button class="uptracker-form-btn tealish tealish-text waves-effect waves-light back-btn" (click)="dismissModal()">
        Cancel
      </button>
    </div>
</div>