<div class="list is-grid-view">
  <div class="heading row">
    <div class="col pointer" (click)="sortByHeaderCol(headerCol)" [ngClass]="headerCol.className" *ngFor="let headerCol of header; first as isFirst">

      <div class="input-checkbox left checkbox"
        *ngIf="isFirst">
        <input
          type="checkbox"
          class="checkbox-input"
          [id]="componentId + '-checkbox'"
          [ngModel]="orderTableService.batchSelect$ | async"
          (click)="toggleSelectAll()"
        />
        <label [for]="componentId + '-checkbox'"></label>
      </div>

      {{headerCol.name}}

      <app-order-table-header-action
        [orders]="checkedOrders$ | async"
        [isShow]="headerCol.actions && showHeaderMenu$ | async"
        [listName]="listName"
      ></app-order-table-header-action>
    </div>

  </div>

  <div class="item row flex-center" *ngFor="let item of filteredOrders$ | async; index as i;">

    <div class="col"
      *ngFor="let headerCol of header; first as isFirst"
      (click)="headerCol?.filterBy ? onFilterBy(item[headerCol.alias]) : ''"
      [ngClass]="headerCol.className"
      [class.tealish-text] = "headerCol?.filterBy"
      [class.pointer] = "headerCol?.filterBy"
    >

      <div class="input-checkbox left checkbox" *ngIf="isFirst">
        <input
          type="checkbox"
          [ngModel]='item.checked'
          (ngModelChange)="setCheckbox(item)"
          class="selected-input{{i + item[uniqueField]}}"
          id="selected{{i + item[uniqueField] + componentId}}"
        />
        <label for="selected{{i + item[uniqueField] + componentId}}"></label>
      </div>

      <ng-template
        [ngIf]="headerCol.alias && item[headerCol.alias]"
      >
        {{item[headerCol.alias]}}
      </ng-template>

      <app-order-table-item-action
        [item]="item"
        [isShow]="headerCol.actions"
        [listName]="listName"
        [uniqueField]="uniqueField"
      ></app-order-table-item-action>
    </div>

  </div>
</div>

