@import "../../../../colors.scss";

:host /deep/ {
  .invoice {
    background-color: #e8ecf0;
    border-radius: 5px;
    padding: 30px;

    .bottom-border {
      border-bottom: 1px solid #9e9e9e;
    }
    .left {
      .date-picker {
        display: flex;
        position: relative;

        .calendar {
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #9e9e9e;
          margin-left: -50px;
          width: 50px;
          height: 37px;
          > img {
            width: 25px;
            height: 25px;
          }
        }

        input {
          background-color: #f5f6f7;
          border: 1px solid #9e9e9e;
          border-radius: 5px;
          max-width: 300px;
          padding-left: 20px;
          height: 36px;
        }
    
        fa {
          position: absolute;
          right: 30px;
          top: 10px;
        }
      }
      .currency {
        display: flex;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        overflow: hidden;
        padding-right: 5px;
        width: 160px;
        height: 36px;
        > span {
          background-color: #f5f6f7;
          border-right: 1px solid #9e9e9e;
          line-height: 36px;
          text-align: center;
          width: 80px;
        }
        .select {
          max-width: 80px;
          .select-dropdown {
            background-color: #e8ecf0;
            border: none;
          }
        }
      }
    }
    .right {
      .item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: none;
        width: 100%;

        .input-calculated {
          width: 154px;
        }
        .input-taxes {
          width: 154px;
          display: flex;
          border: 1px solid #9e9e9e;
          border-radius: 5px;
          overflow: hidden;
          width: 154px;
          height: 32px;
          > span {
            background-color: #f5f6f7;
            border-right: 1px solid #9e9e9e;
            line-height: 30px;
            padding-left: 5px;
            width: 80%;
          }
          .plus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
          }
        }
        .input-discount {
          display: flex;
          border: 1px solid #9e9e9e;
          border-radius: 5px;
          overflow: hidden;
          width: 154px;
          height: 32px;
          > span {
            background-color: #f5f6f7;
            border-right: 1px solid #9e9e9e;
            line-height: 30px;
            padding-left: 5px;
            width: 70%;
          }
          .select {
            margin-right: 5px;
            width: 30%;
            input {
              background-color: #e8ecf0;
              border: none;
              height: 28px;
            }
          }
        }

        .bold {
          font-weight: bold;
        }

        .diff-red {
          color: red;
        }

        > span {
          padding-right: 20px;
          text-align: right;
          width: 200px;
        }
      }
    }
  }

  .control {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    .filter {
      line-height: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .select {
      max-width: 200px;
      margin-left: 20px;
      input {
        background-color: $white;
      }
    }
    .input {
      max-width: 200px;
      input {
        background-color: $white;
        margin: 0;
      }
    }
  }

  .list {
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
    //padding-bottom: 15px;
    text-align: left;

    &.is-grid-view {
      .row {
        .col {
          display: block;
          label {
            vertical-align: middle;
          }
        }
      }
      .heading {
        margin: 10px 0;
        //padding-bottom: 20px;
        color: #444;
        border-bottom: 1px solid #888;
        font-size: 14px;
        font-weight: bold;
        .col {
        }
        button {
          width: 30px;
          i {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
      .item {
        margin-bottom: 0;
        font-size: 14px;

        .col {
          min-height: 40px;
          line-height: 40px;
          color: #888;
          &.pointer {
            cursor: pointer;
          }
          &:nth-of-type(5) {
            white-space: nowrap;
          }
          &:nth-of-type(1) {
            color: $tealish;
            cursor: pointer;
          }
          .fa-eye, .fa-eye-slash {
            margin-right: 9px;
            line-height: 35px;
            transition: color .7s;
            cursor: pointer;
          }
          .fa-eye {
            color: $tealish;
          }
          .fa-eye-slash {
            color: $red;
          }
        }
        .edititem {
          visibility: hidden;
        }
        &:hover {
          .edititem {
            visibility: visible;
          }
        }
      }

      input {
        margin: 0;
        height: 25px;
        font-size: 11px;
        padding-left: 8px;
        text-indent: 0;
        text-overflow: ellipsis;
        color: $grey;
        background-color: $white;


        &.empty {
          color: $light-grey;
        }
      }
    }
  }
  .checkbox {
    margin-right: 10px;
  }
  .item {
    //padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    .text-right {
      padding-right: 5px;
    }
    input {
      margin-top: 0;
    }
    .flex-center {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .right-bottom-part {
    .row {
      margin-bottom: 0;
    }
    input {
      margin-top: 0;
      text-align: right;
      padding-right: 5px;
    }
    .pdg-r-0 {
      padding-right: 0;
    }
  }
  .edititem {
    margin: 0 0 10px 0;
  }
}

