:host /deep/ {
  .auth-wrapper{
    max-width: 760px;
    margin:0 auto;

    .logo a{
      display:block;
      width:215px;
      height:47px;
      padding-right:35px;
      font-family: Ubuntu;
      font-size:38px;
      background: url(/assets/img/logo.svg) no-repeat right center;
      background-size: auto 100%;
      color:#fff;
      margin:57px auto 50px;
      text-indent:-5000px;

      &:hover{
        text-decoration: none;
      }
    }

    .auth-box{
      padding:60px 0 70px;
      border-radius:5px;
      background:#fff;
      margin-bottom:19px;

      .title {
        font-family: Ubuntu;
        font-size: 28px;
        font-weight: bold;
      }

      .subtitle {
        font-size: 14px;
        color: #9a9c9e;
      }

      form{
        margin:30px auto 0;
        width:310px;

        .input{
          margin-bottom:25px;

          input{
            height: 40px;
            border-radius: 5px;
            background-color: #f5f6f7;
            border: 1px solid #d6d6d6;
            margin:8px 0 0;

            &:focus{
              box-shadow:none;
              border-color:#33c6d9;
            }

            & + .error{
              display:none;
            }

            &.invalid {
              box-shadow:none;
              border-color: #F44336;

              & + .error{
                display:block;
              }
            }
          }

          .error{
            font-size:12px;
            margin-top:3px;
          }
        }

        .split-input-row{
          margin:0 -0.75rem;
        }

        .input-checkbox{
          [type="checkbox"]{
            & + label{
              padding-left:25px;
              font-size:14px;

              &:before{
                width:20px;
                height:20px;
                background-color: #f5f6f7;
                border-color: #d6d6d6;
                border-radius:3px;
              }
            }

            &:checked{
              & + label:before{
                border-width:0 2px 2px 0;
                background:transparent;
                width: 10px;
                height: 15px;
                border-radius: 1px;
                top: 1px;
                left:-2px;
                border-color: #33c6d9;
              }
            }
          }
        }
      }

      button{
        width:120px;
        height:40px;
        margin-top:19px;
        border-radius:5px;
        background: #f1594e;
        border:0;
        font-size:16px;
        font-weight:900;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .auth-wrapper{
    .footer{
      div {
        text-align:center;
      }
    }
  }
}