<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="title center-align">{{product.name}}</div>
  <div class="row">
    <div class="col s3">
      <div class="img-container">
        <div class="img" *ngIf="product?.image" [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }"></div>
      </div>
    </div>
    <div class="info-box col s9">
      <div class="ttl-box row">
        <div class="ttl col s12">{{product.name}}</div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Hazardous</label>
          <span class="value">{{product.hazardous_string}}</span>
        </div>
        <div class="col s4">
          <label>Trackable</label>
          <span class="value">{{product.trackable_string}}</span>
        </div>
        <div class="col s4">
          <label>Tax Exempt</label>
          <span class="value">{{product.tax_exempt_string}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Department</label>
          <div class="value">{{product.department}}</div>
        </div>
        <div class="col s4">
          <label>Category</label>
          <div class="value">{{product.category}}</div>
        </div>
        <div class="col s4">
          <label>Accounting</label>
          <div class="value">{{product.tax_exempt_string}}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <ul class="tabs" materialize="tabs">
      <li class="tab col s2"><a href="#variations">Variations</a></li>
      <li class="tab col s2"><a href="#info">Info</a></li>
      <li class="tab col s2"><a href="#inventory">Inventory</a></li>
      <li class="tab col s2"><a href="#tracking">Tracking</a></li>
      <li class="tab col s2"><a href="#history">Order History</a></li>
      <li class="tab col s2"><a href="#comments">Comments</a></li>
    </ul>
  </div>


  <div id="variations">
    <div class="inner">
      Variations tab
    </div>
  </div>
  <div id="info">
    <div class="inner">
      Info tab
    </div>
  </div>
  <div id="inventory">
    <div class="inner">
      Inventory tab
    </div>
  </div>
  <div id="tracking">
    <div class="inner">
      Tracking tab
    </div>
  </div>
  <div id="history">
    <div class="inner">
      History tab
    </div>
  </div>
  <div id="comments">
    <div class="inner">
      Comments tab
    </div>
  </div>
</div>
