:host /deep/ {
  .inner{
    .img-container{
      width:140px;
      height:140px;
      border:1px solid #d6d6d6;

      .img{
        height:100%;
        background-position: center center;
        background-size:cover;
      }
    }

    .info-box{
      .ttl{
        color:#9a9c9e;
      }

      label{
        color:#9a9c9e;
      }

      .value{
        font-size:12px;
        color:#000;
      }

      span.value{
        margin-left:5px;
      }
    }

    .tabs{
      .tab{
        a{
          text-transform: capitalize;
          padding:0 10px;
        }
      }
    }
  }
}