<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="title center-align">{{product.name}}</div>
  <div class="row">
    <div class="col s12 m3">
      <div class="img-container">
        <div class="img" *ngIf="product?.image" [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }"></div>
      </div>
    </div>
    <div class="info-box col s12 m9">
      <div class="ttl-box row">
        <div class="ttl col s12">{{product.name}}</div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Hazardous</label>
          <span class="value">{{product.hazardous_string}}</span>
        </div>
        <div class="col s4">
          <label>Trackable</label>
          <span class="value">{{product.trackable_string}}</span>
        </div>
        <div class="col s4">
          <label>Tax Exempt</label>
          <span class="value">{{product.tax_exempt_string}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Department</label>
          <div class="value">{{product.department}}</div>
        </div>
        <div class="col s4">
          <label>Category</label>
          <div class="value">{{product.category}}</div>
        </div>
        <div class="col s4">
          <label>Accounting</label>
          <div class="value">{{product.account_category}}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s2"><a href="#variations">Variations</a></li>
        <li class="tab col s2"><a href="#info">Info</a></li>
        <li class="tab col s2"><a href="#inventory">Inventory</a></li>
        <li class="tab col s2" *ngIf="product.trackable"><a href="#tracking">Tracking</a></li>
        <li class="tab col s2"><a href="#history">Order History</a></li>
        <li class="tab col s2"><a href="#comments">Comments</a></li>
      </ul>
    </div>
  </div>


  <div id="variations">
    <div class="inner">
      <div class="variant-table">
        <div class="uptracker-form variant-head">
          <div class="variant-checkbox head-item">
            <div class="checkbox input-checkbox ">
              <input
                      type="checkbox"
                      class="checkbox-input"
                      [(ngModel)]="variation.checked"
                      (change)="headCheckboxChange()"
                      id="variation-checkbox"
              />
              <label for="variation-checkbox"></label>
            </div>
          </div>
          <div class="name-heading head-item">
            <div class="input">
              <input
                      type="text"
                      class="name-input"
                      ngModel
                      (input)="changeName($event)"
                      placeholder="Name"
                      #name="ngModel"/>
            </div>
          </div>
          <div class="small-heading head-item">
            <div class="select">
              <select
                      [(ngModel)]="variation.package_type"
                      #pkg="ngModel"
                      materialize="material_select"
                      (change)="changePkg($event)"
                      [materializeSelectOptions]="variationArrs.package_type">
                <option value="">Pkg</option>
                <option *ngFor="let item of variationArrs.package_type" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="small-heading head-item">
            <div class="select">
              <select
                      [(ngModel)]="variation.unit_type"
                      #unit="ngModel"
                      materialize="material_select"
                      (change)="changeUnit($event)"
                      [materializeSelectOptions]="variationArrs.unit_type">
                <option value="">Unit</option>
                <option *ngFor="let item of variationArrs.unit_type" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="small-heading head-item">
            <div class="select">
              <select
                      [(ngModel)]="variation.units_per_package"
                      #units_pkg="ngModel"
                      materialize="material_select"
                      (change)="changeUnitsPkg($event)"
                      [materializeSelectOptions]="variationArrs.units_per_package">
                <option value="">Qty</option>
                <option *ngFor="let item of variationArrs.units_per_package" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="small-heading head-item">
            <div class="select">
              <select
                      [(ngModel)]="variation.size"
                      #size="ngModel"
                      materialize="material_select"
                      (change)="changeSize($event)"
                      [materializeSelectOptions]="variationArrs.size">
                <option value="">Size</option>
                <option *ngFor="let item of variationArrs.size" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>

          <div class="text-heading valign-wrapper head-item">
            <div class="text-head valign">
              UPC
            </div>
          </div>
          <div class="text-heading valign-wrapper head-item">
            <div class="text-head valign">
              Price Range
            </div>
          </div>
          <div class="filter-heading noselect head-item">
            <fa [name]="'filter'"></fa>
          </div>
          <div class="visibility-heading head-item">
            <i class="material-icons noselect"  (click)="toggleVariationVisibility()">{{variation.visibility ? "visibility" : "visibility_off"}}</i>
          </div>
          <div class="add-order-heading head-item">
            <button class="uptracker-form-btn waves-light waves-effect add-order-btn" [disabled]="!addOrderVariantsButtonShow"><i class="fa fa-shopping-cart"
                                                                                                                                  aria-hidden="true"></i>Add to
              Order
            </button>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>

      <div class="table-body">
        <div class="variant-table">
          <div class="uptracker-form  table-item" *ngFor="let variant of filteredVariants$ | async">
            <div class="variant-checkbox row-item">
              <div class="checkbox input-checkbox">
                <input
                        type="checkbox"
                        class="checkbox-input"
                        [(ngModel)]="variant.checked"
                        (change)="variantCheckedChange()"
                        id="{{variant.id}}"
                />
                <label for="{{variant.id}}"></label>
              </div>
            </div>
            <div class="name-heading variant-name row-item valign-wrapper"><span class="valign" (click)="toggleVariantDetailView(variant)">{{variant.name || "Product Here"}}</span></div>
            <div class="small-heading row-item">{{variant.package_type || "Value Here"}}</div>
            <div class="small-heading row-item">{{variant.unit_type || "Value Here"}}</div>
            <div class="small-heading row-item">{{variant.units_per_package || ""}}</div>
            <div class="small-heading row-item">{{variant.size || ""}}</div>
            <div class="text-heading row-item">{{variant.upc || ""}}</div>
            <div class="text-heading row-item">{{variant.price_range || ""}}</div>
            <div class="edit-variant filter-heading row-item"><i class="fa fa-pencil variant-func" aria-hidden="true"></i></div>
            <div class="edit-variant visibility-heading row-item">
              <i class="fa fa-eye  variant-func" [class.fa-eye]="variant.visibility" [class.fa-eye-slash]="!variant.visibility" (click)="toggleVariantVisibility(variant)" aria-hidden="true"></i>
              <!--<i class="material-icons" >{{variant.visibility ? "visibility" : "visibility_off"}}</i>-->
            </div>
            <div class="add-order-col add-order-heading row-item">
              <button class=" variant-func uptracker-form-btn waves-light waves-effect add-order-btn"><i
                      class="fa fa-shopping-cart" aria-hidden="true"></i>Add to Order
              </button>
            </div>
            <div class="clearfix"></div>
            <app-variant-detail [variant]="variant" *ngIf="variant.detailView"></app-variant-detail>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="info">
    <div class="inner">
      Info tab
    </div>
  </div>
  <div id="inventory">
    <div class="inner">
      Inventory tab
    </div>
  </div>
  <div id="tracking" *ngIf="product.trackable">
    <div class="inner">
      Tracking tab
    </div>
  </div>
  <div id="history">
    <div class="inner">
      History tab
    </div>
  </div>
  <div id="comments">
    <div class="inner">

      <form class="uptracker-form" (submit)="sendComment()" #commentForm="ngForm" novalidate autocomplete="off">
        <div class="input row textarea-row">
          <div class="label col s12">Add Comment</div>
          <div class="col s10">
            <div class="textarea">
              <textarea id="comments-textarea" class="validate materialize-textarea" name="comment_body" required
                        #inputComment [(ngModel)]="comment.body"></textarea>
            </div>
          </div>
          <div class="buttons col s2">
            <button class="btn white-text waves-effect waves-light" [disabled]="!commentForm.valid">Send</button>
          </div>
        </div>
      </form>

      <div class="comments">
        <ul class="collection">
          <li class="collection-item avatar" *ngFor="let comment of filteredComments$ | async">
            <img [src]="comment.author_avatar || ''" class="responsive-img circle author-avatar">
            <span class="title">{{comment.author_name}}</span>
            <span class="date">{{comment.created_at}}</span>
            <span class="edit-comment" *ngIf="comment.author_id==userService.selfData.id"
                  (click)="editComment(comment)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
            <p [innerHtml]="comment.body"></p>
            <div class="secondary-content" *ngIf="comment.author_id==userService.selfData.id">
              <div class="delete-comment " (click)="deleteComment(comment)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
