$tealish: #33c6d9;
$red: #f00;
$white: #fff;
$greeny: #4CAF50;
$dark: #444;

:host /deep/ {
  .reddish {
    color:$red;
  }
  .checks {
    margin-bottom:5px;
  }
  .invis {opacity: 0;}

  .edbtn {
    margin-left: 10px;
    height: 26px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 7px;
    padding:3px 10px;
  }
  .edbtn:hover {
    opacity: .9;
  }
  .bluebtn {
    background: $tealish;
    color: $white;
    border: 1px solid $tealish;
  }
  .redbtn {
    border:1px solid $red;
    color:$red;
    background: $white;
  }

  .inner {
    .img-container {
      width: 140px;
      height: 140px;
      border: 1px solid #d6d6d6;

      .img {
        height: 100%;
        background-position: center center;
        background-size: cover;
      }
    }
    .uptracker-form .input{
      margin-bottom:14px;
    }
    .info-box {

      height:190px;

      input[type="text"]{
        border-color:  $greeny;
        color:$dark;
        height: 36px;
      }
      .name-field {
        margin-bottom: -5px;
        margin-top: 0;
      }

      .ttl {
        color: #9a9c9e;
      }

      label {
        color: #9a9c9e;
      }

      .value {
        font-size: 12px;
        color: #000;
      }

      span.value {
        margin-left: 5px;
      }
    }

    .tabs {
      overflow-x: hidden;

      .tab {
        a {
          text-transform: capitalize;
          padding: 0 10px;
        }
      }
    }

    // table vertical scroll
    //.table-body {
    //  height: 372px;
    //  overflow-y: auto;
    //}

    .inner {



      .variant-table {
        font-size: 12px;

        .variant-head {
          padding: 10px 0;
          border-bottom: 1px solid #d6d6d6;

          .flor > div {
            float: right;
          }
        }
        .head-item, .row-item {
          float: left;
          padding: 5px;
          height: 35px;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }

        .small-heading {
          width: 8%;
        }

        .text-head {
          color: #9a9c9e;
        }

        .name-heading {
          width: 20%;

          .name-input {
            width: 100%;
            box-sizing: border-box;
          }
        }

        .filter-heading {
          width: 8%;

          i {
            margin-right: 3px;
            font-size: 22px;
            cursor: pointer;
            color: $tealish;
          }
        }

        .visibility-heading {
          width: 5%;
          color: #9a9c9e;

          .material-icons {
            font-size: 22px;
            cursor: pointer;
          }

          &.active {
            color: $tealish;
          }
        }

        .text-heading {
          width: 10%;
        }

        .add-order-heading {
          width: 15%;
        }

        .add-order-btn {
          width: 100%;
          font-size: 12px;
          padding: 0 5px 0 5px;
          height: 24px;
          color: #fff;
          background-color: $tealish;

          &:disabled {
            background-color: #d6d6d6;
          }

          i {
            font-size: 16px;
            margin-right: 5px;
          }
        }

        .variant-name {
          color: $tealish;

          span {
            cursor: pointer;
          }
        }

        .edit-variant {
          i {
            font-size: 18px;
            color: $tealish;
            cursor: pointer;
          }
          i.fa-eye-slash {
            color:$red;
          }
        }
        .uptracker-form {

          .input {
            margin-bottom: 0;
          }

          input {
            margin: 0;
            height: 25px;
            font-size: 11px;
            background: transparent;
            padding-left: 8px;
            text-indent: 0;
            text-overflow: ellipsis;
            color: #9a9c9e;

            &.empty {
              color: #d6d6d6;
            }
          }

          .variant-checkbox {
            width: 3%;

            div {
              text-align: center;

              &.input-checkbox {
                [type="checkbox"] {
                  & + label {
                    padding-left: 20px;
                    height: 20px;

                    &:before {
                      width: 17px;
                      height: 17px;
                    }
                  }

                  &:checked {
                    & + label:before {
                      width: 10px;
                      height: 15px;
                    }
                  }
                }
              }
            }
          }

          .select {
            .select-wrapper {
              &.ng-valid {
                input.select-dropdown {
                  border-color: #d6d6d6;
                }
              }

              &.empty {
                input.select-dropdown {
                  color: #d6d6d6;
                }
              }

              input.select-dropdown {
                padding-right: 15px;
              }

              .dropdown-content {
                margin: 0;

                li {
                  span {
                    font-size: 11px;
                    line-height: 25px;
                  }
                }
              }
            }
          }
        }

        .table-item {
          padding: 15px 0;
          border-bottom: 1px solid #d6d6d6;

          &:last-child {
            border-bottom: none;
          }

          .variant-func {
            transition: all 0s linear 0.2s;
            visibility: hidden;
          }

          &:hover {
            .variant-func {
              visibility: visible;
            }
          }

        }

        tr {
          & > *:first-child {
            padding-left: 0;
            max-width: inherit;
          }

          & > *:last-child {
            padding-right: 0;
          }
        }

        th {
          border: 1px solid #d6d6d6;
          border-width: 1px 0;
          padding: 10px 5px;
          max-width: 85px;
        }

        .not-submit {
          height: 25px;
          width: auto;
          padding: 0 15px;
        }
      }
      .flor .row-item {
        float:right;
      }
    }
    @media (max-width: 900px) {
      #variations {
        overflow-x: scroll;

        .inner {
          width: 763px;
        }
      }
    }
    @media (max-width: 768px) {
      .img-container {
        width: 110px;
        height: 110px;
      }

    }

    @media (max-width: 600px) {
      .img-container {
        width: 140px;
        height: 140px;
        margin: 0 auto;
      }
    }
    .uptracker-form {
      position: relative;

      .textarea {
        .materialize-textarea {
          width: calc(100% - 20px - 2px);
          min-height: 20px;
          height: calc(40px - 20px - 2px);
          box-sizing: content-box;
        }
      }

      .buttons {
        margin-top: 8px;
      }
    }

    .comments {
      .collection {
        border: none;
        overflow: visible;

        .collection-item {
          padding-right: 5%;

          .author-avatar {
            background-color: #F5F6F7;
            border-color: #F5F6F7;
            outline: none;
          }

          .delete-comment {
            transition: all 0.2s linear;
            font-size: 18px;
            line-height: 18px;
            opacity: 0;
            color: #F1594E;
            cursor: pointer;
          }

          .edit-comment {
            transition: all 0.2s linear;
            opacity: 0;
            color: $tealish;
            cursor: pointer;
          }

          .title {
            font-size: 14px;
            margin-right: 5px;
          }

          .date {
            font-size: 12px;
            color: #9d9d9d;
            margin-right: 5px;
          }

          &:hover {

            .edit-comment {
              opacity: 1;
            }

            .delete-comment {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .edit-mode .filter-heading.head-item {
    width:18%!important;
  }
  .filter-heading.row-item {
    width:5%!important;
  }


}
