$tealish: #33c6d9;
@import "../../../../colors.scss";

.custom-menu{
  position:absolute;
  max-width:100%;
  top:20px;
  right:120px;
  bottom:auto;

  .truncate{
    max-width:215px;
    display:inline-block;
    margin-top:-1px;
    vertical-align: middle;
    cursor:pointer;
    color:inherit;

    &:hover{
      text-decoration:none;
    }
  }

  ul{
    bottom: auto;
    margin-top:35px;
    background: #fff;
    padding: 10px 0 5px;
    width:100px !important;
    min-width:inherit;
    left:-37px !important;
    border:1px solid #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;

    li{
      padding:2px 0 7px;
      text-align:center;
      min-height:inherit;

      &:hover{
        background:transparent;
      }

      a{
        color:#444;
        text-decoration:none;
        font-size:14px;
        line-height:normal;
        padding:0;

        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .custom-menu{
    right:110px;

    .truncate{
      max-width:155px;
    }
  }
}

@media all and (max-width: 480px) {
  .custom-menu {
    .truncate {
      max-width: 68px;
    }
  }
}