@import "../../../colors";

:host /deep/ {
  .inner {
    margin: 0 auto;

    .parent {
      display: flex;
      width: 300%;
      height: 100%;
      .title {
        color: $dark;
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 40px;
      }
      .thin {
        font-weight: 200;
      }
      .left-align {
        text-align: left;
      }
      .range-field {
        margin-top: 0;
        position: relative;
        .value-container {
          position: relative;
          margin: 3px 12px;
          &.less-margin {
            margin:-16px 8px 3px;
          }
          .value {
            border-radius: 50%;
            height:20px;
            width:20px;
            position: absolute;
            margin:-3px 0;
            line-height:18px;
            font-size: 10px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #fff;
            font-weight: bold;
            top: -18px;
            z-index: 13;
            cursor: pointer;
            pointer-events: none;
          }
        }
        input {
          height:5px;
        }
      }

      .left {
        display: block;
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;

        #stepOne {
          .search {
            display: flex;
            border: 1px solid #d6d6d6;
            border-radius: 5px;
            font-size: 30px;
            margin: 0;
            > i {
              color: #d6d6d6;
              line-height: 55px;
              margin-right: 20px;
              margin-left: 20px;
            }
            > input {
              border: none;
              color: $dark;
              font-size: 18px;
              margin-bottom: 5px;
              margin-top: 5px;
            }
          }

          .info {
            color: $dark;
            margin-top: 5px;
            margin-bottom: 30px;
          }

          .product {
            border-bottom: 1px solid #d6d6d6;
            cursor: pointer;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 20px;
            .preview {
              padding-left: 0;
              .icon {
                background-color: white;
                border: 1px solid #d6d6d6;
                border-radius: 5px;
                cursor: pointer;
                width: 100px;
                height: 100px;
              }
            }
            .description {
              color: $dark;
            }
            .arrow {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              color: #33c6d9;
              padding-right: 0;
              font-size: 26px;
              height: 100px;
            }
          }
          .product:last-child {
            border-bottom: none;
          }
        }
      }

      .middle {
        display: block;
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;

        #stepTwo {
          position: relative;
          .nav {
            transition: opacity .3s;
            position: absolute;
            left: 10px;
            top: 0;
            background-color: #33c6d9;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            border-radius: 20px;
            color: #fff;
            line-height: 27px;
            padding-right: 3px;
            width: 24px;
            height: 24px;
          }
          .description {
            display: flex;
            border-bottom: 1px solid #d6d6d6;
            margin: 0 0 50px;
            padding-bottom: 40px;
            .preview {
              padding-left: 0;
              .icon {
                background-color: white;
                border: 1px solid #d6d6d6;
                border-radius: 5px;
                cursor: pointer;
                width: 150px;
                height: 150px;
              }
            }
            .content {
              color: $dark;
              margin-left: 20px;
              width: 100%;
              .line-header {
                font-weight: 200;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 0;
                .col {
                  padding: 0;
                  .row {
                    margin: 0;
                  }
                }
                .center-align {
                  display: flex;
                  justify-content: center;
                }
                .right-align {
                  display: flex;
                  justify-content: flex-end;
                }
              }
            }
          }
          .location {
            color: $dark;
            margin: 0;
            input {
              border-color: #d6d6d6;
              max-width: 300px;
            }
          }
          .product {
            margin: 0;
            color: $dark;
            input {
              border-color: #d6d6d6;
              max-width: 300px;
            }
          }
          .backstock {
            display: flex;
            color: $dark;
            margin: 0;
            .stock-row {
              margin-bottom: 10px;
              min-width: 200px;
            }
            .stock-field {
              display: flex;
              line-height: 30px;
              margin-bottom: 10px;
              min-width: 200px;
              input {
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid #d6d6d6;
                box-shadow: none !important;
                box-sizing: border-box;
                color: #9a9c9e;
                font-size: 12px;
                max-width: 70px;
                min-width: 50px;
                margin-right: 20px;
                line-height: 30px;
                padding: 5px;
                text-align: center;
                height: 30px;
              }
              .action-button {
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                line-height: 30px;
                background-color: $tealish;
                color: $white;
                width: 30px;
                height: 30px;
                &.right-align {
                  margin-left: 15px;
                }
              }
            }
          }
          .submit {
            margin: 0;
            .btn {
              background-color: $tealish;
              border-radius: 5px;
              box-shadow: none;
            }
          }
        }
      }
      .right {
        display: block;
        position: relative;
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;

        .preview {
          display: flex;
          justify-content: center;
          margin: 30px;
          .icon {
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px;
            cursor: pointer;
            width: 200px;
            height: 200px;
          }
        }
        .range-container {
          margin-top: 50px;
          margin-bottom: 100px;
          margin-left: 30px;
          margin-right: 30px;
        }
        .submit {
          display: flex;
          justify-content: center;
          .btn {
            background-color: $tealish;
            border-radius: 5px;
            box-shadow: none;
            width: auto;
          }
          .left {
            margin-right: 20px;
          }
          .right {
            margin-left: 20px;
          }
        }
      }
    }
  }

  #general{
    display:block !important;
  }
}

/deep/ .modal {
  min-height: 0;
  .modal-dialog {
    .modal-content {
      overflow: hidden;
      padding: 30px 0 75px;
    }
  }
}