<div class="close" (click)="dismissModal()"></div>
<div class="title center-align">Edit Order Data</div>

<div class="inner">
  <div class="row">
    <div class="col s12 center-align subtitle">Email Purchase Order: {{ context.po_number }}</div>
  </div>

  <div class="row">
    <div class="col s4 m2 right-align">To</div>
    <div class="col s8 m6 input validate">
      <input
        placeholder="Enter Email"
        [(ngModel)]="emailTo"
        class="col s12"
        name="emailto"
        #emailto="ngModel"
        minlength="6" maxlength="254"
        type="text">
      <div [hidden]="emailto.valid || emailto.pristine" class="error red-text left-align">
        Email must be from 6 to 254 characters long and look like an e-mail address.
      </div>
    </div>
    <div class="col s12 m4 right-align">
      <button class="uptracker-form-btn waves-light waves-effect tealish">Download PO</button>
    </div>
  </div>

  <div class="row">
    <div class="col s4 m2 right-align">From</div>
    <div class="col s8 m6 input">
      <input type="text"
        placeholder="Enter Email"
        [(ngModel)]="emailFrom"
        class="col s12"
      />
    </div>
    <div class="col m4 s12 right-align">
      <button (click)="dismissModal()" class="uptracker-form-btn waves-light waves-effect redbtn">Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col s4 m2 right-align">Subject</div>
    <div class="col s8 m6 input">
      <input type="text"
        placeholder="Enter Subject"
        [(ngModel)]="emailSubject"
        class="col s12"
      />
    </div>
    <div class="col s12 m4"></div>
  </div>

  <div class="row">
    <div class="col s2  right-align">Message</div>
    <div class="col s10  materialize-textarea">
      <textarea
        [(ngModel)]="emailMessage"
        class="col s12"
      >
      </textarea>
    </div>
  </div>
</div>
