@import "../../../../../../colors.scss";

input.select-dropdown, .input input {
  height: 30px;
  margin-bottom: 0 !important;
}

.inner {
  padding: 5px;


  label.light-grey {
    color: $grey;
  }

  .row {
    margin-bottom: 7px;
    min-height:40px;
    padding-top:3px;
  }

  .flex-center {
    display: flex!important;
    align-items: center;
    justify-content: center;
  }

  .titles {
    font-size: .8rem;
    white-space: nowrap;
  }

  .checks-row {
    padding-bottom: 20px;

    & > div.col > * {
      text-align: center;
      display: block;
      float: left;
      padding: 0;
      width: 100%;
    }
  }

  .grey-text {
    color: $grey
  }

  label {
    font-size: 1rem;
    color: $dark;
  }

  .smaller {
    font-size: 0.9rem;
  }

  .uptracker-form-btn {
    height: 36px;
    font-size: 14px;
    width: 100px;
    margin: 0 5px;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: $tealish;
    background-color: $tealish;
    color: #fff;

    &.redbtn {
      border-color: red;
      background-color: #fff;
      color: red;
    }
    &:last-of-type {
    }
  }

  textarea{
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid $grey;
    padding:5px 10px;
    font-size:1rem;
    color:$dark;
    overflow-y: auto;
    resize:none;

    &:focus {
      outline: none;
    }
  }

  input {
    color:$dark;
    border: 1px solid $grey;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .right-grey {
    display:none;
  }

  .bottom-buttons {
    margin-top:10px;
  }
}
