<div class="product-page">
  <div class="close fa fa-chevron-left" (click)="goBack()"></div>
  <div class="row right edit-buttons">
    <button materialize="dropdown" data-activates="drdn" class="bt-edit-product edbtn bluebtn">
      <fa name="bars"></fa>
      Actions
    </button>
    <ul id='drdn' class='dropdown-content'>
      <li>
        <a href="#" class="tealish-text"><fa name="shopping-cart"></fa>Order</a>
      </li>
      <li>
        <a href="#" class="tealish-text"><fa name="barcode"></fa>Scan Out</a>
      </li>
      <li>
        <a href="#" class="tealish-text"><fa name="exchange"></fa>Transfer</a>
      </li>
      <li>
        <a href="#" class="tealish-text"><fa name="list-ol"></fa>Take Inventory</a>
      </li>
      <li>
        <a href="#" class="tealish-text"><fa name="pencil"></fa>Edit</a>
      </li>
      <li>
        <a href="#" class="red-text"><fa name="archive"></fa>Archive</a>
      </li>

    </ul>
  </div>
  <div class="inner" [ngClass]="{'edit-mode':showEdit}">
    <div class="title center-align">
      Inventory item
    </div>
    <div class="row uptracker-form">
      <div class="info-box col s12" [class.condensed]="showVariant">
        <div class="img-container left">
          <div class="img" *ngIf="product?.image"
            [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }">
          </div>
          <div class="sub-image-btns">
            <div class="col s6">
              <div class="small left">On-hand</div>
              <div class="digits right">30</div>
            </div>
            <div class="col s6">
              <div class="small left">Pending</div>
              <div class="digits right">0</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="left product-params">
          <div class="min-height">
            <div class="ttl-box row input">
              <div class="col s12">
                {{ showVariant ? currentVariant.name : product?.name}}
              </div>
            </div>
            <div class="row">

              <div class="col m4 l2">
                <div class="">
                  <label>Hazardous</label>
                  <span class="value">
                  <a *ngIf="product?.hazardous && product?.msds" target="_blank" [href]="product?.msds">{{product?.hazardous_string}}</a>
                  <span *ngIf="!product?.hazardous  && !product?.msds">{{product?.hazardous_string}}</span>
                </span>
                </div>
              </div>
              <div class="col m4 l2">
                <div class="">
                  <label>Trackable</label>
                  <span class="value">{{product?.trackable_string}}</span>
                </div>
              </div>
              <div class="col m4 l2">
                <div class="">
                  <label>Tax Exempt</label>
                  <span class="value">{{product?.tax_exempt_string}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col m4 l2">
                <label>Department</label>
                <div class="value">{{product?.department}}</div>
              </div>
              <div class="col m4 l2">
                <label>Category</label>
                <div class="value">{{product?.category}}</div>
              </div>
              <div class="col m4  l2">
                <label>Accounting</label>
                <div class="value">{{product?.account_category}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col m4 l2">
                <label>Package</label>
                <div class="value">1 Box</div>
              </div>
              <div class="col m4 l2">
                <label>Sub-package</label>
                <div class="value">20 Sleeves</div>
              </div>
              <div class="col m4  l2">
                <label>Consumable Unit</label>
                <div class="value">1000 Items</div>
              </div>
            </div>
          </div>
          <div class="sub-image-btns">
            <div class="col s2">
              <div class="small left">Critical</div>
              <div class="digits right">10</div>
            </div>
            <div class="col s3">
              <div class="small left">Fully Stocked</div>
              <div class="digits right">40</div>
            </div>
            <div class="col s3">
              <div class="small left">Overstocked</div>
              <div class="digits right">60</div>
            </div>
            <div class="col s4 two-lines">
              <div class="small ">Inventory By</div>
              <div class="small  red-text">Sub-Package</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>


    <div class="row table-head-filter">
      <div class="col s12">
        <ul class="tabs" materialize="tabs">

          <li class="tab col s2">
            <a href="#info">Info</a>
          </li>
          <li class="tab col s2">
            <a href="#history">History</a>
          </li>
          <li class="tab col s2">
            <a href="#tracking">Tracking</a>
          </li>
          <li class="tab col s2">
            <a href="#products">Products</a>
          </li>
          <li class="tab col s2">
            <a href="#comments">Comments</a>
          </li>
        </ul>
      </div>
    </div>


    <div id="info">
      <div class="inner uptracker-form">
        <div class="row">
          <div class="ttl-container col s7">

            <div class="row">
              <div class="ttl col s12">
                Description
              </div>
              <div class="col s12 bold">
                {{product?.description}}
                <i class="no-info" *ngIf="!product?.description">No additional information</i>
              </div>
            </div>
            <div class="row">
              <div class="ttl col s12">
                Notes
              </div>
              <div class="col s12 bold">
                {{product?.notes}}
                <i class="no-info" *ngIf="!product?.notes">No additional information</i>
              </div>
            </div>
            <div class="row mbot0">
              <div class="col s6 ">
                <div class="row mbot0">
                  <div class="ttl col s12">
                    MSDS
                  </div>
                  <div class="col s12">
                    <a href="#">{{product?.msds}}</a>
                    <i class="no-info" *ngIf="!product?.msds">No additional information</i>
                  </div>
                </div>
                <div class="row">
                  <div class="ttl col s12">
                    Hazardous Form
                  </div>
                  <div class="col s12">
                    <a href="#">{{product?.hazardous_form}}</a>
                    <i class="no-info" *ngIf="!product?.hazardous_form">No additional information</i>
                  </div>
                </div>
              </div>
              <div class="col s6 ">
                <div *ngIf="hasDocs" class="row">
                  <div class="ttl col s12">
                    Documents
                  </div>
                  <div class="col s12">
                    <div *ngFor="let doc of doc$ | async">
                      <a href="{{doc.uri}}" target="_blank">{{doc.file_name}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s5">
            <div class="row">
              <div class="col s6 ttl">Storage Locations</div>
              <div class="col s6 left-align ttl">Qty</div>

              <div class="col s6">Closet #1 Shelf B</div>
              <div class="col s6 left-align">10</div>

              <div class="col s6">Closet #2 Shelf Z</div>
              <div class="col s6 left-align">10</div>
            </div>
            <div class="row">
              <div class="col s6 ttl">Floor Locations</div>
              <div class="col s6 left-align">Qty</div>

              <div class="col s6">Center Island Round</div>
              <div class="col s6 left-align">3</div>

              <div class="col s6">Cabinet #2</div>
              <div class="col s6 left-align">2</div>

              <div class="col s12 left-align small grey-text italic">*Floor stock is not counted as inventory</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="history">
      <div class="inner">
        <div class="variant-table">
          <div class="uptracker-form variant-head">
            <div class="head-item">
              User
            </div>
            <div class="head-item">
              Type
            </div>
            <div class="head-item">
              Date
            </div>
            <div class="head-item">
              Quantity
            </div>
            <div class="head-item">
              On-land
            </div>
            <div class="head-item">
              Notes
            </div>
            <div class="head-item">
              Flag
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="table-body">
          <div class="variant-table">
            <div class="uptracker-form  table-item tealish-text"
              *ngFor="let order of [1,1,1,1,1,1]">
              <div class="name-heading variant-name row-item valign-wrapper">
                <span class="valign tealish-text" (click)="toggleVariantDetailView(order)">
                  Jane Doe
                </span>
              </div>
              <div class="small-heading row-item">Order</div>
              <div class="small-heading row-item">01/01/2017</div>
              <div class="small-heading row-item">10</div>
              <div class="small-heading row-item">20</div>
              <div class="small-heading row-item ">Ultra long description text specially for good testing</div>
              <div class="small-heading row-item tealish-text">
                <fa name="flag"></fa>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="tracking">
      <div class="inner">
        Tracking tab
      </div>
    </div>

    <div id="products">
      <div class="row no-pad">
        <div class="col s9 ttl bold">Default Product</div>
        <div class="col s3 tealish-text right-align">
          <a>
            <fa name="pencil"></fa>
            Change
          </a>
        </div>
        <div class="col s12 white all-product-info">
          <div class="img left img-container" *ngIf="product?.image"
            [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }">
          </div>
          <div class="row right default-product-info">
            <div class="col s5">
              <div class="col s12 ttl bigger tealish-text">A really long product name</div>
              <div class="col s12 small">Henry Schein</div>
              <div class="col s2 grey-text small">CAT#</div>
              <div class="col s4 small">123-210</div>
              <div class="col s2 small grey-text">UPC#</div>
              <div class="col s4 very-small">762174521422</div>
            </div>
            <div class="col s2">
              <div>
                <div class="">Pkg Price</div>
                <div class="grey-text">$50</div>
              </div>
            </div>
            <div class="col s2">
              <div>
                <div class="">Sub-Pkg Price</div>
                <div class="grey-text">40 @ $1.25</div>
              </div>
            </div>
            <div class="col s2">
              <div>
                <div class="">Unit Price</div>
                <div class="grey-text">2000 @ $0.03</div>
              </div>
            </div>
            <div class="col s1 center-align">
              <fa name="ellipsis-h"></fa>
            </div>
          </div>
        </div>


        <div class="variant-table">
          <div class="uptracker-form variant-head">
            <div class="head-item">
              Other Products
            </div>
            <div class="head-item">
              Package Price
            </div>
            <div class="head-item">
              Sub-Package Price
            </div>
            <div class="head-item">
              Unit Price
            </div>
            <div class="head-item">
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="table-body">
          <div class="variant-table">
            <div class="uptracker-form  table-item tealish-text"
              *ngFor="let order of [1,1,1,1,1,1]">
              <div class="name-heading variant-name row-item valign-wrapper">
                <div class="valign tealish-text">
                  Petterson Non-sterile Cotton Rolls
                </div>
                <div>
                  Patterson
                </div>
              </div>
              <div class="small-heading row-item">$50</div>
              <div class="small-heading row-item">50 @ $0.4</div>
              <div class="small-heading row-item">1000 @ $0.02</div>
              <div class="small-heading row-item tealish-text">
                <fa name="ellipsis-h"></fa>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="comments">
      <div class="inner">

        <form class="uptracker-form" (submit)="sendComment()" #commentForm="ngForm" novalidate autocomplete="off">
          <div class="input row textarea-row">
            <div class="label col s12">Add Comment</div>
            <div class="col s10">
              <div class="textarea">
              <textarea id="comments-textarea" class="validate materialize-textarea" name="comment_body" required
                #inputComment [(ngModel)]="comment.body"></textarea>
              </div>
            </div>
            <div class="buttons col s2">
              <button class="btn white-text waves-effect waves-light" [disabled]="!commentForm.valid">Send
              </button>
            </div>
          </div>
        </form>

        <div class="comments">
          <ul class="collection">
            <li class="collection-item avatar" *ngFor="let comment of filteredComments$ | async">
              <img [src]="comment.author_avatar || ''" class="responsive-img circle author-avatar">
              <span class="title">{{comment.author_name}}</span>
              <span class="date">{{comment.created_at}}</span>
              <span class="edit-comment" *ngIf="comment.author_id==userService.selfData.id"
                (click)="editComment(comment)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
              <p [innerHtml]="comment.body"></p>
              <div class="secondary-content" *ngIf="comment.author_id==userService.selfData.id">
                <div class="delete-comment " (click)="deleteComment(comment)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>