<!--<div class="right edititem"-->
  <!--materialize="dropdown"-->
  <!--data-activates='order_ddm'>-->
  <!--<fa name="ellipsis-h"></fa>-->
<!--</div>-->
<!--<ul id='order_ddm' class='dropdown-content'>-->
  <!--<li>-->
    <!--<a class="tealish-text" href="#">Edit</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="tealish-text" href="#">Flag</a>-->
  <!--</li>-->
  <!--<li *ngIf="showMenuItem">-->
    <!--<a class="tealish-text" href="#">Resend</a>-->
  <!--</li>-->
  <!--<li *ngIf="showMenuItem">-->
    <!--<a class="tealish-text" (click)="onReceiveOrders()">Receive</a>-->
  <!--</li>-->
  <!--<li *ngIf="showMenuReconcile">-->
    <!--<a class="tealish-text" href="#">Reconcile</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="tealish-text" href="#">Buy Again</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="red-text" href="#">Void</a>-->
  <!--</li>-->
<!--</ul>-->