<app-order-table
  [header]="tableHeaderReceived"
  [orders]="(orders$ | async)"
  [listName] = 'listName'
  (sortByHeaderUpdated)="sortByHeaderUpdated($event)"
></app-order-table>
<!--<div class="list is-grid-view">-->
  <!--<div>-->
    <!--<div class="heading row">-->
      <!--<div class="col s2 left-align flex-center">-->
        <!--<div class="input-checkbox left checkbox">-->
          <!--<input-->
            <!--type="checkbox"-->
            <!--class="checkbox-input"-->
            <!--[(ngModel)]="selectAllReceivedList"-->
            <!--id="selectAllReceivedList"-->
            <!--(click)="toggleSelectAllReceivedList(selectAllReceivedList)"-->
          <!--/>-->
          <!--<label for="selectAllReceivedList"></label>-->
        <!--</div>-->
        <!--<div class="left">-->
          <!--Order #-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col s2">Product Name</div>-->
      <!--<div class="col s2">Location</div>-->
      <!--<div class="col s1">Placed</div>-->
      <!--<div class="col s1">Received</div>-->
      <!--<div class="col s1">Qty</div>-->
      <!--<div class="col s1">Pkg Price</div>-->
      <!--<div class="col s1">Total</div>-->
      <!--<div class="col s1">-->
        <!--<span class="tealish-text">-->
        <!--<fa name="flag-o"></fa>-->
      <!--</span>-->
        <!--<span class="tealish-text">-->
        <!--<fa name="star-o"></fa>-->
      <!--</span>-->
        <!--<div class="right edititem"-->
          <!--materialize="dropdown"-->
          <!--data-activates='received_order_ddm'-->
          <!--&gt;-->
          <!--<fa name="ellipsis-h"></fa>-->
        <!--</div>-->
        <!--<ul id='received_order_ddm' class='dropdown-content'>-->
          <!--<li>-->
            <!--<a class="tealish-text" (click) = "editCheckedReceivedPackingSlips()">Edit</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="tealish-text" [routerLink]="['/orders/reconcile']">Reconcile</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="tealish-text" (click) = "buyAgainReceivedCheckedOrders()">Buy Again</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="item row flex-center"-->
      <!--*ngFor="let item of orders;let i=index;">-->
      <!--<div class="col s2 left-align">-->
        <!--<div class="input-checkbox left checkbox">-->
          <!--<input-->
            <!--type="checkbox"-->
            <!--[(ngModel)] = 'item.checked'-->
            <!--(ngModelChange)="setCheckbox(item)"-->
            <!--class="selected-input{{i + item.id}}"-->
            <!--id="selected{{i + item.id}}"-->
          <!--/>-->
          <!--<label for="selected{{i + item.id}}"></label>-->
        <!--</div>-->
        <!--<div class="left">-->
          <!--{{ item.order_number }}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col s2"><a>{{item.product_name}}</a></div>-->
      <!--<div class="col s2"><a>{{item.location}}</a></div>-->
      <!--<div class="col s1"><a>{{item.placed}}</a></div>-->
      <!--<div class="col s1"><a>{{item.received}}</a></div>-->
      <!--<div class="col s1">{{item.qty}}</div>-->
      <!--<div class="col s1">{{item.pkg_price}}</div>-->
      <!--<div class="col s1">{{item.total}}</div>-->
      <!--<div class="col s1 show-hover-elem">-->

        <!--<span class="tealish-text">-->
          <!--<fa name="flag-o" *ngIf="item.flagged"></fa>-->
          <!--<fa name="flag" *ngIf="!item.flagged"></fa>-->
        <!--</span>-->
          <!--<span class="tealish-text">-->
          <!--<fa name="star-o" *ngIf="item.favorite"></fa>-->
          <!--<fa name="star" *ngIf="!item.favorite"></fa>-->
        <!--</span>-->

        <!--<div class="right edititem"-->
          <!--materialize="dropdown"-->
          <!--[attr.data-activates]='"order_dd_received"+i'>-->
          <!--<fa name="ellipsis-h"></fa>-->
        <!--</div>-->
        <!--<ul [id]='"order_dd_received" +i' class='dropdown-content'>-->
          <!--<li>-->
            <!--<a class="tealish-text" (click)="editReceivedPackingSlip(item)">Edit</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="tealish-text" [routerLink]="['/orders/reconcile']">Reconcile</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="tealish-text" (click)="buyAgainReceivedOrder(item)">Buy Again</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col s2 left-align">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="input-checkbox left checkbox">&ndash;&gt;-->
            <!--&lt;!&ndash;<input&ndash;&gt;-->
              <!--&lt;!&ndash;type="checkbox"&ndash;&gt;-->
              <!--&lt;!&ndash;[(ngModel)] = 'item.checked'&ndash;&gt;-->
              <!--&lt;!&ndash;(ngModelChange)="setCheckbox(item)"&ndash;&gt;-->
              <!--&lt;!&ndash;class="selected-input{{i + item.id}}"&ndash;&gt;-->
              <!--&lt;!&ndash;id="selected{{i + item.id}}"&ndash;&gt;-->
            <!--&lt;!&ndash;/>&ndash;&gt;-->
            <!--&lt;!&ndash;<label for="selected{{i + item.id}}"></label>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="left" (click) = "editReceivedPackingSlip(item)">&ndash;&gt;-->
            <!--&lt;!&ndash;{{ item.packing_slip_number }}&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div (click)="changeVisibilityReceivedList(i)" class="col s2 pointer flex-center">&ndash;&gt;-->
          <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<a [routerLink]="['/vendors','view',item.vendor_id]">{{item.vendor_name}}</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div (click)="changeVisibilityReceivedList(i)" class="col pointer s2">&ndash;&gt;-->
          <!--&lt;!&ndash;<span *ngFor="let number of item.order_numbers" class="orders-number">&ndash;&gt;-->
            <!--&lt;!&ndash;<a [routerLink]="['/orders', number.order_id]">{{ number.po_number }}</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>, </span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div (click)="changeVisibilityReceivedList(i)" class="col pointer s2">{{item.product_count}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div (click)="changeVisibilityReceivedList(i)" class="col pointer s2">{{item.date}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col s2 pdg-r-0">&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="right edititem"&ndash;&gt;-->
            <!--&lt;!&ndash;materialize="dropdown"&ndash;&gt;-->
            <!--&lt;!&ndash;[attr.data-activates]='"received_order_dd_" +i'>&ndash;&gt;-->
            <!--&lt;!&ndash;<fa name="ellipsis-h"></fa>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;<ul [id]='"received_order_dd_" +i' class='dropdown-content'>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="tealish-text" (click) = "editReceivedPackingSlip(item)">Edit</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="tealish-text" [routerLink]="['/orders/reconcile']">Reconcile</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="tealish-text" (click)="buyAgainReceivedOrder(item)">Buy Again</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="tealish-text">&ndash;&gt;-->
            <!--&lt;!&ndash;<a [routerLink]="['/users','view',item.user_id]">&ndash;&gt;-->
              <!--&lt;!&ndash;{{ item.user_name }}&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->

        <!--&lt;!&ndash;<app-received-list-detail&ndash;&gt;-->
          <!--&lt;!&ndash;[visible]="pastOrderService.itemsVisibilityReceivedList[i]"&ndash;&gt;-->
          <!--&lt;!&ndash;[item]="item"&ndash;&gt;-->
          <!--&lt;!&ndash;(isAllCheckedChanged) = "setOrderCheckbox(item)">&ndash;&gt;-->
        <!--&lt;!&ndash;</app-received-list-detail>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->