<div class="inventory-detail-wrapper">
  <div class="row main-block">
    <div class="col w20p">
      <div class="row ttl">
        <div class="col s9">Level</div>
        <div class="col s3">Qty</div>
      </div>
      <div class="row">
        <div class="col s9">Critical</div>
        <div class="col s3">2</div>
      </div>
      <div class="row ">
        <div class="col s9">Fully Stocked</div>
        <div class="col s3">4</div>
      </div>
      <div class="row ">
        <div class="col s9">Pending Qty.</div>
        <div class="col s3">0</div>
      </div>
      <div class="row reddish">
        <div class="col s9">Overstocked</div>
        <div class="col s3">2</div>
      </div>
    </div>

    <div class="col w20p">
      <div class="row ttl">
        <div class="col s9">Storage location</div>
        <div class="col s3">Qty</div>
      </div>
      <div class="row">
        <div class="col s9">Back Stock 1</div>
        <div class="col s3">1</div>
      </div>
      <div class="row ">
        <div class="col s9">Back Stock 2</div>
        <div class="col s3">1</div>
      </div>
    </div>


    <div class="col w20p">
      <div class="row ttl">
        <div class="col s9">Floor location</div>
        <div class="col s3">Qty</div>
      </div>
      <div class="row">
        <div class="col s9">Center Island</div>
        <div class="col s3">2</div>
      </div>
      <div class="row small grey-text">
        <div class="col s12">
          *Floor Stock is not counted as inventory
        </div>
      </div>
    </div>

    <div class="col w20p">
      <div class="row ttl">
        <div class="col s9">Usage Date</div>
        <div class="col s3">Qty</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
    </div>

    <div class="col w20p">
      <div class="row ttl">
        <div class="col s9">Order Date</div>
        <div class="col s3">Qty</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
      <div class="row">
        <div class="col s9">12/31/16</div>
        <div class="col s3">10</div>
      </div>
    </div>
  </div>
</div>
<div class="right variant-detail-collapse">
  <span (click)="variantDetailCollapse()"><i class="fa fa-chevron-up" aria-hidden="true"></i> Collapse</span>
</div>
<div class="clearfix"></div>