$tealish: #33c6d9;

:host /deep/ {
  .inner{
    .row {
      margin-bottom: 0;
      &.check {
        margin:10px 0;
        .s2 {
          padding-left: 0;
        }
      }
    }
    .select {
      width:100%;
    }
    input.select-dropdown {
      border-color:#9a9c9e!important;
      margin-bottom: 10px;
      background-color: #f5f5f5;
    }
    .select-title {
      margin-bottom: 5px;
    }
    .uptracker-form-btn {
      height:36px;
      font-size:14px;
      border:1px solid #fff;
      width:100px;
      margin:0 10px;
      font-weight: normal;

      &:first-of-type {
        border-color: red;
        background-color: #fff;
        color:red;
      }
      &:last-of-type {
        border-color:$tealish;
        background-color: $tealish;
        color:#fff;
      }
    }
  }


  .input-checkbox {
    [type="checkbox"] {
      & + label {
        vertical-align: middle;
        padding-left: 25px;
        font-size: 14px;

        &:before {
          width: 20px;
          height: 20px;
          background-color: #f5f6f7;
          border-color: #d6d6d6;
          border-radius: 3px;
        }
      }

      &:checked {
        & + label:before {
          border-width: 0 2px 2px 0;
          background: transparent;
          width: 10px;
          height: 15px;
          border-radius: 1px;
          top: 1px;
          left: -2px;
          border-color: $tealish;
        }
      }
    }
  }

  .range-field {
    margin-top: 12px;
    position: relative;
    .value-container {
      margin: 0;
      position: relative;
      .value {
        position: absolute;
        width: 30px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        bottom: 7px;
        z-index: 1;
        cursor: pointer;
        pointer-events: none;
        padding-left: calc(-10px + 10%);
        margin-left: calc(10px - 10%);
      }
    }
  }
}