.tabs{
  margin:-10px 0 29px;
}

#profile{
  .user-image{
    margin-bottom:0;

    .img-container{
      position:relative;
      width:170px;
      height:170px;
      background-image: url(/assets/img/onboard/icon-img-placeholder-users.svg);

      .file-field{
        position:absolute;
        text-align:center;
        left:0;
        top:120px;
        width:100%;
      }
    }

    .second-column{
      padding-top:13px;
      margin-bottom:5px;
    }
  }

  .tutorial-mode{
    position:relative;
  }

  .switch-box{
    margin:9px 0 0;
  }
}


#permissions{
  button.not-submit{
    margin-top:8px;
    width:100%;
  }

  .row{
    margin-top:60px;

    &:first-child{
      margin-top:0;
    }

    &.add-preset-form{
      margin-top:-10px;
    }

    .preset-ttl{
      line-height:40px;
    }
  }
}

#template{
  padding:15px 0 0;
}



.buttons{
  margin-top:44px;
}