<div class="locations content">
  <div class="title">Set up your locations</div>
  <div class="subtitle">Please enter one location per card below then click next.</div>
  <div class="list left-align">
    <div class="item">
      <div class="img">
        <img src="http://placehold.it/520x293" alt="" class="responsive-img" />
      </div>
      <div class="ttl">Location Name Here</div>
    </div>
    <div class="empty item" (click)="viewLocationModal()"></div>
  </div>
  <div class="buttons">
    <button class="next waves-effect waves-light right" (click)="goNext()">Next</button>
    <div class="clearfix"></div>
  </div>
</div>