<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="row title center-align relative">
    <div class="col s12">
      <button class="uptracker-form-btn back-btn tealish tealish-text waves-effect waves-light"
        *ngIf="step2.className == 'active' || step3.className=='active' || step4.className=='active'" (click)="prevTab()">
        <fa name="chevron-left"></fa>
        Back
      </button>
      Add Inventory Item
      <button class="uptracker-form-btn next-btn white-text tealish waves-effect waves-light"
        *ngIf="step4.className != 'active'" (click)="nextTab()">
        Next
        <fa name="chevron-right "></fa>
      </button>
      <button (click)="saveAdded()"
        class="uptracker-form-btn save-btn white-text tealish waves-effect waves-light right"
        [disabled] = '!items.length'
        *ngIf="step4.className == 'active'"
      >
      <fa name="check"></fa>
      Save
      </button>
    </div>
  </div>
  <div class="row" class="hidden">
    <ul class="tabs" materialize="tabs">
      <li class="tab col s4"><a href="#step1" #step1>step1</a></li>
      <li class="tab col s4"><a href="#step2" #step2>step2</a></li>
      <li class="tab col s4"><a href="#step3" #step3>step3</a></li>
      <li class="tab col s4"><a href="#step4" #step4>step4</a></li>
    </ul>
  </div>
  <div id="step1">
    <div class="row">
      <div *ngIf="addCustomProduct" class="col s6">
        <div class="custom-product-add">
          <div class="row">
            <div class="col s6 title">
              Add Custom Product
            </div>
            <div class="col s6 buttons right-align">
              <button class="uptracker-form-btn  redbtn waves-effect waves-light" (click)="toggleCustomAdd()">
                Cancel
              </button>
              <button class="uptracker-form-btn   white-text waves-effect waves-light" (click)="addNewProduct()">
                <fa name="plus"></fa>
                Add
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="ttl">Name</div>
              <div class="input">
                <input [(ngModel)]="newProductData.name" type="text" placeholder="Product Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="ttl">Vendor</div>
              <div class="input">
                <input [(ngModel)]="newProductData.vendor.properties.name"  type="text" placeholder="Vendor Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="ttl">Outer Package</div>
              <div class="select select-light">
                <select title="Package" [(ngModel)]="newProductData.package_type" materialize="material_select">
                  <option *ngFor="let outerPackage of inventoryService.outerPackageList" value="{{ outerPackage }}">{{outerPackage}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="ttl">Inner Package</div>
              <div class="row">
                <div class="col s4">
                  <div class="input">
                    <input [(ngModel)]="newProductData.sub_package.properties.qty" type="text" placeholder="Qty">
                  </div>
                </div>
                <div class="col s8">
                  <div class="select select-light">
                    <select title="Package" [(ngModel)]="newProductData.sub_package.properties.unit_type" materialize="material_select">
                      <option *ngFor="let innerPackage of inventoryService.innerPackageList" value="{{ innerPackage }}">{{innerPackage}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="ttl">Consumable Unit</div>
              <div class="row">
                <div class="col s4">
                  <div class="input">
                    <input [(ngModel)]="newProductData.consumable_unit.properties.qty" type="text" placeholder="Qty">
                  </div>
                </div>
                <div class="col s8">
                  <div class="select select-light">
                    <select title="Package" [(ngModel)]="newProductData.consumable_unit.properties.unit_type" materialize="material_select">
                      <option *ngFor="let consumablePackage of inventoryService.consumablePackageList" value="{{ consumablePackage }}">{{consumablePackage}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!addCustomProduct">

          <div class="col s12 ttl">Search Products</div>
          <div class="col s12 input search">
            <input auto-complete (input)="onSearchTypeIn($event)"
            placeholder="Enter Product Name, UPC, or Catalog #"
              [source]="observableSource.bind(this)"
              (ngModelChange) = 'selectedAutocompled($event)'
              [min-chars] = '3'
            />
            <a>
              <fa name="barcode"></fa>
            </a>
          </div>

        <div class="col s6 mrg-top-20">
          <div *ngIf="total" class="row border-bottom">
            <div class="col s12 ">
              <div class="input-checkbox checkbox inline-block">
              <input [(ngModel)]="checkBoxCandidates" (change)="selectAllCandidates()" id="variantsAll" type="checkbox">
              <label for="variantsAll"></label>
              </div>
              <span class="bold">Matching Products</span>
              <div (click)="bulkAdd()" class="right tealish-text bulk-actions">
                <fa name="plus"></fa>
                Add Selected
              </div>
            </div>
          </div>
          <div
            *ngFor="let item of (resultItems$ | async); let i=index;"
            class="row search-results" [class.warning]="item.notActive">
            <div class="col s9 product-row-fields">
              <div class="input-checkbox  checkbox" *ngIf="!item.notActive">
                <input [ngModel]="item.checked" id="variant{{ i }}" type="checkbox" (click)="putCheckbox(item)">
                <label for="variant{{ i }}"></label>
              </div>
              <div class="image" *ngIf="(item.images && item.images[0])"
                [ngStyle]="{'background-image':'url(\''+item.images[0]+'\')'}">
              </div>
              <div class="image no-image" *ngIf="(!item.images || !item.images[0])"
                [ngStyle]="{'background-image':'url(/assets/img/onboard/icon-onboarding-products.svg)'}">
              </div>
              <div>
                <div class="product-name tealish-text">
                  {{ item.name }}
                </div>
                <div class="vendor-name">
                  <span *ngFor="let vendor of item.vendors" class="vendor">{{ vendor }}<span>,</span> </span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!--<div class="col s3 right-align item-price">-->
            <!--${{ item.price/100 | number : '1.2-2' }}-->
            <!--</div>-->
            <div (click)="addToInventory([item])" class="action-button waves-light waves-effect" *ngIf="!item.notActive">
              <fa name="plus"></fa>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="no_results_container" [class.not_hidden]="!total">
                <div class="img">
                  <i class="fa fa-question" aria-hidden="true"></i>
                </div>
                <div class="text">No Products Found</div>
                <div class="sub-buttons">
                  <button (click)="toggleCustomAdd()"
                    class="uptracker-form-btn waves-effect waves-light tealish white-text">
                    <fa name="plus"></fa>
                    Add Custom Product
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6 mrg-top-20">
        <div class="row border-bottom">
          <div class="col s12 low-padding">
            <div class="input-checkbox checkbox inline-block">
              <input (change)="selectAllItems()" [(ngModel)]="checkBoxItems" id="chkAll" type="checkbox">
              <label for="chkAll"></label>
            </div>
            <span class="bold">Selected Products</span>
            <div (click)="bulkDelete()" class="right tealish-text bulk-actions">
              <fa name="minus"></fa>
              Remove Selected
            </div>
          </div>
        </div>
        <div
          *ngFor="let item of (items$ | async); let i=index;"
          class="row added-items">
          <div class="col s9 product-row-fields low-padding">
            <div class="input-checkbox  checkbox">
              <input [(ngModel)]="item.checked" id="addeditem{{ i }}" type="checkbox">
              <label for="addeditem{{ i }}"></label>
            </div>
            <div class="image" *ngIf="(item.images && item.images[0])"
              [ngStyle]="{'background-image':'url(\''+item.images[0]+'\')'}">
            </div>
            <div class="image no-image" *ngIf="(!item.images || !item.images[0])"
              [ngStyle]="{'background-image':'url(/assets/img/onboard/icon-onboarding-products.svg)'}">
            </div>
            <div>
              <div class="product-name tealish-text">
                {{ item?.name }}
              </div>
              <div class="vendor-name">
                <span *ngFor="let vendor of item.vendors" class="vendor">{{ vendor }}<span>,</span> </span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!--<div class="col s3 right-align low-padding item-price">-->
          <!--${{ item.price/100 | number : '1.2-2' }}-->
          <!--</div>-->
          <div (click)="deleteFromInventory([item])" class="action-button">
            <fa name="minus"></fa>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="step2">
    <div class="row">
      <div class="col s6">
        <div class="ttl">Name</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="ttl mrg-top-15">UPC</div>
        <div class="input">
          <input type="text">
          <a><fa name="barcode"></fa></a>
        </div>
        <div class="ttl mrg-top-15">How do you receive this?</div>
        <div class="row custom-width low-padding mrg-btm-5">
          <div class="col s1 ">Package</div>
          <div class="col s1 ">Sub-Package</div>
          <div class="col s1 "></div>
          <div class="col s1 ">Consumable unit</div>
          <div class="col s1 "></div>
        </div>
        <div class="row custom-width low-padding">
          <div class="col s1 select select-light custom-select">
            <select materialize="material_select" class="customSelect1"
              (ngModelChange)="checkPackage($event)"
              [ngModel]="newInventoryPackage.package_type"
              [materializeSelectOptions]="inventoryService.outerPackageList"
              *ngIf="showSelect"
            >
              <option value="" [disabled] = 'items.length || checkedProduct.length'>N/A</option>
              <option *ngFor="let outerPackage of outerPackageList" [ngValue]="outerPackage">{{outerPackage}}</option>
            </select>
          </div>
          <div class="col s1 input">
            <input placeholder="Qty." type="text" [(ngModel)]="newInventoryPackage.sub_package_qty">
          </div>
          <div class="col s1 select select-light custom-select">
            <select materialize="material_select"
              (ngModelChange)="checkSubPackage($event)"
              [ngModel]="newInventoryPackage.sub_package_type"
              [materializeSelectOptions]="inventoryService.innerPackageList">
              <option value="" [disabled] = 'items.length || checkedProduct.length'>N/A</option>
              <option *ngFor="let innerPackage of innerPackageList" value="{{ innerPackage }}">{{innerPackage}}</option>
            </select>
          </div>
          <div class="col s1 input">
            <input placeholder="Qty." type="text" [(ngModel)]="newInventoryPackage.consumable_unit_qty">
          </div>
          <div class="col s1 select select-light custom-select">
            <select materialize="material_select"
              (ngModelChange)="checkConsPackage($event)"
              [ngModel]="newInventoryPackage.consumable_unit_type"
              [materializeSelectOptions]="inventoryService.consumablePackageList">
              <option value="" [disabled] = 'items.length || checkedProduct.length'>N/A</option>
              <option *ngFor="let consumablePackage of consumablePackageList" value="{{ consumablePackage }}">{{consumablePackage}}</option>
            </select>
          </div>
        </div>

        <div class="ttl mrg-top-15">How do you count this?</div>
        <div class="select select-light">
          <select materialize="material_select"
            (ngModelChange)="checkConsPackage($event)"
            [ngModel]="newInventoryPackage.consumable_unit_type"
            [materializeSelectOptions]="inventoryService.consumablePackageList">
            <option value="">N/A</option>
            <option *ngFor="let consumablePackage of consumablePackageList" value="{{ consumablePackage }}">{{consumablePackage}}</option>
          </select>
        </div>

        <div class="row mrg-top-15">
          <div class="col s6">
            <img>
          </div>
          <div class="col s6">
            <div class="ttl">
              Product photo
            </div>
            <div>
              Please upload a JPG or PNG max size 10 MB
            </div>
            <div class="input add-attachment">
              <input type="file">
              <div class="ttl tealish-text input-placeholder">
                Upload a photo
              </div>
            </div>
          </div>
        </div>
        <!--<div class="ttl mrg-top-15">How many do you have?</div>-->
        <!--<div class="input">-->
          <!--<input type="text">-->
        <!--</div>-->
        <!--<div class="ttl mrg-top-15">Inventory Levels</div>-->
        <!--<div class="row mrg-btm-5">-->
          <!--<div class="col s4">Critical</div>-->
          <!--<div class="col s4">Fully Stocked</div>-->
          <!--<div class="col s4">Overstocked</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col s4 input">-->
            <!--<input type="text" placeholder="Qty.">-->
          <!--</div>-->
          <!--<div class="col s4 input">-->
            <!--<input type="text" placeholder="Qty.">-->
          <!--</div>-->
          <!--<div class="col s4 input">-->
            <!--<input type="text" placeholder="Qty.">-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="col s6">
        <div class="row border-bottom">
          <div class="col s12 ttl">
            Selected products
            <div class="right tealish-text bulk-actions">
              <a (click)="prevTab()">Change Products</a>
            </div>
          </div>
        </div>

        <div
          *ngFor="let item of (items$ | async); let i=index;"
          class="row added-items">
          <div class="col s8 product-row-fields">
            <div class="input-checkbox  checkbox">
              <input [(ngModel)]="item.checked" id="addeditem1{{ i }}" type="checkbox">
              <label for="addeditem1{{ i }}"></label>
            </div>
            <div class="image" *ngIf="(item.images && item.images[0])"
              [ngStyle]="{'background-image':'url(\''+item.images[0]+'\')'}">
            </div>
            <div class="image no-image" *ngIf="(!item.images || !item.images[0])"
              [ngStyle]="{'background-image':'url(/assets/img/onboard/icon-onboarding-products.svg)'}">
            </div>
            <div>
              <div class="product-name tealish-text">
                {{ item?.name }}
              </div>
              <div class="vendor-name">
                <span>{{ item.vendors[0] }} <span *ngIf="item.vendors.length > 1">& {{ item.vendors.length-1 }} more</span></span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col s4">
            <div class="select">
              <select materialize="material_select">
                <option>Auto</option>
                <option *ngFor="let vendor of item.vendors" value="{{ vendor }}">{{ vendor }}</option>
              </select>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>

  <div id="step3">
    Step3
  </div>

  <div id="step4">
    <div class="row uptracker-form">
      <div class="col s6">
        <div class="ttl">Name</div>
        <div class="select">
          <select materialize="material_select">
            <option>Department</option>
          </select>
        </div>
        <div class="ttl mrg-top-15">Category</div>
        <div class="select">
          <select materialize="material_select">
            <option>Category</option>
          </select>
        </div>
        <div class="ttl mrg-top-15">Accounting</div>
        <div class="select">
          <select materialize="material_select">
            <option>Accounting</option>
          </select>
        </div>
        <div class="row mrg-top-15">
          <div class="col s6">
            <div class="input-checkbox  checkbox">
              <input id="taxExempt" type="checkbox">
              <label for="taxExempt"></label>
              <span>Tax Exempt</span>
            </div>
          </div>
          <div class="col s6">
            <div class="input-checkbox  checkbox">
              <input id="trackable" type="checkbox">
              <label for="trackable"></label>
              <span>Trackable</span>
            </div>
          </div>
        </div>
        <div class="ttl">Description</div>
        <div class="textarea">
          <textarea class="materialize-textarea"></textarea>
        </div>
      </div>
      <div class="col s6">
        <div class="ttl">Notes</div>
        <div class="textarea">
          <textarea class="materialize-textarea"></textarea>
        </div>
        <div class="ttl mrg-top-15">MSDS/Hazardous Form</div>
        <div class="input input-file">
          <input type="file" (change)="onMSDCFileUpload($event)">
          <div class="ttl input-placeholder file-added" *ngIf="mcds">{{ mcds.file_name }}</div>
          <div class="ttl tealish-text input-placeholder">Upload File</div>
        </div>
        <div class="ttl mrg-top-15">Attachments</div>
        <div class="attachments">
          <a href="{{ apiUrl }}/po/{{ context.order_id }}/download" target="_blank">
            <fa name="file-pdf-o"></fa>
            Purchase Order #{{ context.po_number }}
            <fa class="tealish-text invis" name="external-link"></fa>
          </a>
        </div>
        <div *ngFor="let file of (file$ | async)" class="attachments">
          <a href="{{ apiUrl }}/inventory_items/attachment/{{ file.id }}"  target="_blank">
            <fa *ngIf="file.type == 'application/pdf'" name="file-pdf-o"></fa>
            <fa *ngIf="file.type == 'application/zip'" name="file-zip-o"></fa>
            <fa *ngIf="(getType(file.type) == 'application')
          && (file.type != 'application/pdf')
          && (file.type != 'application/zip')"
              name="file-code-o"></fa>
            <fa *ngIf="getType(file.type) == 'image'" name="file-image-o"></fa>
            <fa *ngIf="getType(file.type) == 'text'" name="file-word-o"></fa>
            <fa *ngIf="getType(file.type) == 'audio'" name="file-audio-o"></fa>
            <fa *ngIf="getType(file.type) == 'video'" name="file-video-o"></fa>
            Attachment - {{ file.file_name }}
          </a>
          <a href="{{ apiUrl }}/inventory_items/attachment/{{ file.id }}"  target="_blank" class="link-icon">
            <fa class="tealish-text invis" name="external-link"></fa>
          </a>
          <fa class="red-text invis" name="trash" (click)="removeFile(file)"></fa>
        </div>
        <div class="mrg-top-15">
          <div class="input add-attachment">
            <input type="file" (change)="onAttachmentUpload($event)">
            <div class="ttl tealish-text input-placeholder">
              <fa name="plus">
                <i class="fa fa-plus"></i>
              </fa>
              Add Attachment
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
