<div class="inner">
  <div class="row">
    <div class="col s2 close tealish-text" (click)="goBack()">
      <i class="fa fa-chevron-left" ></i>Shopping List
    </div>
    <div class=" col s8">
      <div class="title">
        <div class="main-title center-align">Orders Preview</div>
      </div>
    </div>
    <div class="col s2">
      <button class="uptracker-form-btn">Convert All</button>
    </div>
  </div>
  <div class="main row">
    <div class="col s12 m8">
      <div class="row">
        <div class="col s12 item-card">
        </div>
        <div class="col s12 item-card">
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="row">
        <div class="col s12">
          <h2>All Orders</h2>
        </div>
        <div class="col s8">
          <div class="o-img"></div>
          <div class="o-name">3M</div>
        </div>
        <div class="col s4">
          <div class="o-price">1110</div>
        </div>
        <div class="right col s8">
          Total
        </div>
        <div class="right col s8">
          2240.00
        </div>
      </div>
    </div>
  </div>
</div>