<div class="inner">
  <div class="row">
    <div class="col s3 close tealish-text" (click)="goBack()">
      <i class="fa fa-chevron-left"></i>
      Shopping List
    </div>
    <div class=" col s6">
      <div class="title">
        <div class="main-title center-align">Orders Preview</div>
      </div>
    </div>
    <div class="col s3">
      <div class="right dd-bt">
        <button class="uptracker-form-btn tealish white-text waves-effect waves-light">Convert All</button>
        <button materialize="dropdown"
          class='dropdown-button  uptracker-form-btn square tealish white-text waves-effect waves-light'
          data-activates='convertall'>
          <i class="fa fa-chevron-down"></i>
        </button>
        <ul id='convertall' class='dropdown-content'>
          <li>
            <a href="#">one</a>
          </li>
          <li>
            <a href="#">two</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main row">

    <div class="col s12 m8">

      <div class="row" >

        <div  *ngFor="let order of (orders$ | async)" class="col s12 item-card">
          <div class="row">
            <div class="col s6">
              <div class="left name-container">
                <div class="o-img"
                  [ngStyle]="{'background-image' : 'url('+ order.image_url ? order.image_url : '/assets/no_results.gif'  +')'}"></div>
                <span class="o-name  thinlato">{{ order.vendor_name }}</span>
              </div>
            </div>
            <div class="col s6">
              <div class="right dd-bt">
                <button class="uptracker-form-btn tealish white-text waves-effect waves-light">Convert</button>
                <button materialize="dropdown"
                  class='dropdown-button  uptracker-form-btn square tealish white-text waves-effect waves-light'
                  data-activates='convertall23'>
                  <i class="fa fa-chevron-down"></i>
                </button>
                <ul id='convertall23' class='dropdown-content'>
                  <li>
                    <a href="#">one</a>
                  </li>
                  <li>
                    <a href="#">two</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="row heading-row">
              <div class="col s6">Product Name</div>
              <div class="col s3">Location</div>
              <div class="col s1">Qty.</div>
              <div class="col s2 right-align">Price</div>
            </div>
            <div class="row" *ngFor="let item of order.items">
              <div class="col tealish-text s6">{{ item.name }}</div>
              <div class="col s3">{{ item.location_name }}</div>
              <div class="col s1 center-align">{{ item.qty }}</div>
              <div class="col s2 right-align">{{ item.price }}</div>
            </div>
          </div>
          <div class="row fieldset">
            <div class="col lcol s6">
              <div class="row">
                <div class="col s12 grey-text">Account #</div>
                <div class="col s12 bold">1312121313</div>
              </div>
              <div class="row">
                <div class="col s12 grey-text">Ship to</div>
                <div class="col s12 grey-text">
                  <div class="select">
                    <select
                      name="sel1"
                      id="sel1"
                      materialize="material_select">
                      <option value="a">Location A</option>
                      <option value="b">Location b</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12 grey-text">Order Method</div>
                <div class="col s12 grey-text">
                  <div class="select">
                    <select
                      name="sel2"
                      id="sel2"
                      materialize="material_select">
                      <option value="a">email</option>
                      <option value="b">phone</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="col rcol s6">
              <div class="row">
                <div class="col s6 grey-text">Subtotal</div>
                <div class="col s6 bold grey-text nopad">$300</div>
              </div>
              <div class="row">
                <div class="col s6 grey-text">Primary Tax</div>
                <div class="col s6 bold ">
                  <div class="input">
                    <input value="$2.00">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6 grey-text">Secondary Tax</div>
                <div class="col s6 bold ">
                  <div class="input">
                    <input value="$2.00">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6 grey-text">Shipping + Handling</div>
                <div class="col s6 bold ">
                  <div class="input">
                    <input value="$2.00">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6 grey-text">Total</div>
                <div class="col s6 bold o-price reddish-text ">
                    $1112.00
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col s12 item-card">
          <div class="row">
            <div class="col s6">
              <div class="left name-container">
                <div class="o-img"
                  style="background-image: url(https://s3.amazonaws.com/uptracker-dev/vendors/582f4fdf06e55c3aab56402d/1484108702_dental-corp-of-america-png)"></div>
                <span class="o-name thinlato">3M</span>
              </div>
            </div>
            <div class="col s6">
              <div class="right dd-bt">
                <button class="uptracker-form-btn tealish white-text waves-effect waves-light">Convert</button>
                <button materialize="dropdown"
                  class='dropdown-button  uptracker-form-btn square tealish white-text waves-effect waves-light'
                  data-activates='convertall2'>
                  <i class="fa fa-chevron-down"></i>
                </button>
                <ul id='convertall2' class='dropdown-content'>
                  <li>
                    <a href="#">one</a>
                  </li>
                  <li>
                    <a href="#">two</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class=" col s12 m4">

      <div class="row allorders">
        <div class="col s12">
          <h2 class="thinlato">All Orders</h2>
        </div>

        <div class="row">
          <div class="col s6 name-container">
            <div class="o-img"
              style="background-image: url(https://s3.amazonaws.com/uptracker-dev/vendors/582f4fe506e55c3aab564077/1487179068_3m-unitek-color-logo-lr-jpg)"></div>
            <span class="o-name thinlato">3M</span>
          </div>
          <div class="col s6 right-align">
            <div class="o-price">$1,110.00</div>
          </div>
        </div>

        <div class="row">
          <div class="col s6 name-container">
            <div class="o-img"
              style="background-image: url(https://s3.amazonaws.com/uptracker-dev/vendors/582f4fdf06e55c3aab56402d/1484108702_dental-corp-of-america-png)"></div>
            <span class="o-name  thinlato">3M</span>
          </div>
          <div class="col s6 right-align">
            <div class="o-price">$1,110.99</div>
          </div>
        </div>
        <div class="row">
          <div class="right-align col s6 thinlato">
            Total
          </div>
          <div class="col s6 o-price reddish-text right-align">
            $2,240.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
