<div class="center-align">
  <h4 class="center-align white-text">
    Home page
  </h4>
  <div>
    <a [routerLink]="['/dashboard']" class="white-text">Dashboard</a>
  </div>
  <div>
    <a [routerLink]="['/login']" class="white-text">Login</a>
  </div>
  <div>
    <a [routerLink]="['/forgot-password']" class="white-text">Forgot Password</a>
  </div>
  <div>
    <a [routerLink]="['/reset-password']" class="white-text">Reset Password</a>
  </div>
  <div>
    <a [routerLink]="['/signup']" class="white-text">Create Account</a>
  </div>
  <div>
    <a [routerLink]="['/signup','about-company']" class="white-text">About Company</a>
  </div>
  <div>
    <a [routerLink]="['/signup','payment-info']" class="white-text">Payment Info</a>
  </div>
  <!--<div>-->
    <!--<a [routerLink]="['/signup','congrats']" class="white-text">Congrats</a>-->
  <!--</div>-->
</div>