<div class="row">
  <div class="col s3 tealish-text pointer" [routerLink]="['/','orders', orderId]">
    {{ (order$ | async)?.po_number }}
  </div>
  <div class="col s1" [class.strikethrough]="editQty">
    {{ (itemTotal$ | async) }}
    <a (click)="editQtyToggle()" *ngIf="!editQty">
      <fa name="pencil" class="tealish-text"></fa>
    </a>
  </div>
  <div class="col s4 tealish-text">
    {{ (item$ | async)?.item_name }}
  </div>
  <div class="col s4 tealish-text pointer" [routerLink]="['/locations','view',(item$ | async)?.location_id]">
    {{ (item$ | async)?.location_name }}
  </div>
</div>
<div class="row" *ngIf="editQty">
  <div class="col s3">
    <div class="input flex-center">
      <input type="text" value="New Order Quantity"
        disabled
      >
    </div>
  </div>
  <div class="col s1">
    <div class="input flex-center">
      <input type="text">
    </div>
  </div>
  <div class="col s7">
    <div class="input flex-center">
      <input type="text" placeholder="Custom Note">
    </div>
  </div>
  <div class="col s1 flex-center justify-center trash-icon">
    <a (click)="editQtyToggle()">
      <fa name="trash" class="tealish-text"></fa>
    </a>
  </div>
</div>
<app-receive-status-line-item
  class="row relative status-line"
  *ngFor="let statusFormGroup of statusLineItemsControl?.controls"
  [statusFormGroup]="statusFormGroup"
  [inventoryGroupId]="inventoryGroupIdControl?.value"
></app-receive-status-line-item>

<app-receive-new-status-item
  class="row"
  *ngFor="let statusFormGroup of statusControl?.controls; index as i"
  [statusFormGroup]="statusFormGroup"
  [inventoryGroupIdControl]="inventoryGroupIdControl"
  [inventoryGroupIds]="inventoryGroupIds$ | async"
  [pendingQty]="pendingQty$ | async"
  (remove)="removeStatus(i)"
></app-receive-new-status-item>

<app-receive-add-new-status-item
  [qty]="(pendingQty$ | async) >= 0 ? (pendingQty$ | async) : 0"
  [selected]="statusItemStatuses$ | async"
  (statusAdd)="onStatusAdd($event)"
></app-receive-add-new-status-item>

