$tealish: #33c6d9;

.variant-detail-wrapper {
  padding-left: 3.5%;

  .variant-detail-top {

    .variant-detail-top-item {
      float: left;
      margin-right: 5%;
      font-weight: bold;

      .top {
        color: #9a9c9e;
      }
    }
  }

  .variant-detail-table-head {

  }

  .variant-detail-collapse {
    color: $tealish;
    margin-right: 5%;

    span {
      cursor: pointer;
    }
  }
}