<div class="variant-detail-wrapper">
  <div class="variant-detail-table-head">
    <div class="variant-detail-head-item">
      <div class="top">Material</div>
      <div >Stainless Steel</div>
    </div>
    <div class="variant-detail-head-item">
      <div class="top">Attachment</div>
      <div>Welded Buckle</div>
    </div>
    <div class="variant-detail-head-item">
      <div class="top">Type</div>
      <div>First Molar</div>
    </div>
    <div class="variant-detail-head-item">
      <div class="top">Quadrant</div>
      <div>Upper</div>
    </div>
    <div class="variant-detail-head-item">
      <div class="top">Side</div>
      <div>Right</div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>