.variant-detail-wrapper {
  padding-left: 3.5%;

  .variant-detail-table-head {

    .variant-detail-head-item {
      float: left;
      margin-right: 5%;
      font-weight: bold;

      .top {
        color: #9a9c9e;
      }
    }
  }
}