<div class="inner add-to-order-modal">

  <div class="controls">
        <div class="ttl">Barcode-Type</div>
        <div class="select">
          <select name="decoder_readers" materialize="material_select" [(ngModel)] = 'quaggaConfig.decoder.readers[0]'>
            <option value="code_128_reader">Code 128</option>
            <option value="code_39_reader">Code 39</option>
            <option value="code_39_vin_reader">Code 39 VIN</option>
            <option value="ean_reader">EAN</option>
            <option value="ean_8_reader">EAN-8</option>
            <option value="upc_reader">UPC</option>
            <option value="upc_e_reader">UPC-E</option>
            <option value="codabar_reader">Codabar</option>
            <option value="i2of5_reader">ITF</option>
            <option value="2of5_reader">Standard 2 of 5</option>
            <option value="code_93_reader">Code 93</option>
          </select>
        </div>
        <div class="ttl">Resolution (long side)</div>
        <div class="select">
          <select name="input-stream_size" materialize="material_select" [(ngModel)] = 'quaggaConfig.inputStream.size'>
            <option value="320">320px</option>
            <option value="640">640px</option>
            <option value="800">800px</option>
            <option value="1280">1280px</option>
            <option value="1600">1600px</option>
            <option value="1920">1920px</option>
          </select>
        </div>
        <div class="ttl">Patch-Size</div>
        <div class="select">
          <select name="locator_patch-size" materialize="material_select" [(ngModel)] = 'quaggaConfig.locator.patchSize'>
            <option value="x-small">x-small</option>
            <option value="small">small</option>
            <option selected="selected" value="medium">medium</option>
            <option value="large">large</option>
            <option value="x-large">x-large</option>
          </select>
        </div>
        <div class="input-checkbox checkbox">
          <input type="checkbox" name="locator_half-sample" id="locator_half-sample" [(ngModel)] = 'quaggaConfig.locator.halfSample'>
          <label for= "locator_half-sample"></label>
          <span class="ttl">Half-Sample</span>
        </div>
        <div class="ttl">Workers</div>
        <div class="select">
          <select name="numOfWorkers" materialize="material_select" [(ngModel)] = 'quaggaConfig.numOfWorkers'>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
          </select>
        </div>
    <div class="input">
      <input type="file" accept="image/*" capture="camera" (change)="onChangeFile($event)">
      <button (click)="rerun()" class="uptracker-form-btn tealish">Rerun</button>
    </div>
  </div>

  <div id="result_strip">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <div class="imgWrapper">
            <img src="">
          </div>
          <div class="caption">
            <div class="code">{{ barcodeRes }}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="interactive" class="viewport" #interactive></div>

  <div class="center-align col s12 clearfix bottom-buttons">
    <button class="uptracker-form-btn" (click)="dismissModal()">Cancel</button>
    <button class="uptracker-form-btn" (click)="closeModal(barcodeRes)">Search</button>
  </div>
</div>