<div class="close" (click)="dismissModal()"></div>
<div class="title center-align">
  Bulk Edit
  <button class="uptracker-form-btn right" (click)="saveBulkEdit()"><i class="fa fa-check"></i> Save</button>
</div>

<div class="row">
  <div class="col s6 input">
    <label>Department</label>
    <div class="select">
      <select
        [(ngModel)]="bulk.department"
        materialize="material_select"
        [materializeSelectOptions]="departmentCollection$ | async">
        <option value="" disabled selected>Select Department</option>
        <option *ngFor="let item of departmentCollection$ | async" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
  <div class="col s6 input">
    <label>Working Stock Location</label>
    <div class="select">
      <select
        [(ngModel)]="bulk.working_stock"
        materialize="material_select"
        [materializeSelectOptions]="workingStockCollection$ | async">
        <option value="" disabled selected>Select Working Stock Location</option>
        <option *ngFor="let item of workingStockCollection$ | async" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 input">
    <label>Category</label>
    <div class="select">
      <select
        [(ngModel)]="bulk.category"
        materialize="material_select"
        [materializeSelectOptions]="productCategoriesCollection$ | async">
        <option value="" disabled selected>Select Category</option>
        <option *ngFor="let item of productCategoriesCollection$ | async" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
  <div class="col s6 input">
    <label>Back Stock Location</label>
    <div class="select">
      <select
        [(ngModel)]="bulk.back_stock"
        materialize="material_select"
        [materializeSelectOptions]="backStockCollection$ | async">
        <option value="" disabled selected>Select Back Stock Location</option>
        <option *ngFor="let item of backStockCollection$ | async" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row last-row">
  <div class="col s6 input">
    <label>Accounting</label>
    <div class="select">
      <select
        [(ngModel)]="bulk.account_category"
        materialize="material_select"
        [materializeSelectOptions]="productAccountingCollection$ | async">
        <option value="" disabled selected>Select Accounting</option>
        <option *ngFor="let item of productAccountingCollection$ | async" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
  <div class="col s6 input">
    <label>Preferred Vendor</label>
    <div class="select">
      <select
        [(ngModel)]="bulk.preferred_vendor"
        materialize="material_select"
        [materializeSelectOptions]="vendorCollection$ | async">
        <option value="" disabled selected>Select Preferred Vendor</option>
        <option *ngFor="let item of vendorCollection$ | async" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row tiny-margin">
  <div class="checkbox input-checkbox col s6">
    <input
      type="checkbox"
      [indeterminate]="bulk.hazardous === null"
      class="checkbox-input"
      [(ngModel)]="bulk.hazardous"
      (change)="checkboxChange($event,bulk.hazardous)"
      id="hazardous-checkbox"
    />
    <label for="hazardous-checkbox"></label>
    <label>Hazardous</label>
  </div>
  <div class="checkbox input-checkbox col s6 ">
    <input
      type="checkbox"
      [indeterminate]="bulk.perpetual === null"
      class="checkbox-input"
      [(ngModel)]="bulk.perpetual"
      (change)="checkboxChange($event,bulk.perpetual)"
      id="inv-checkbox"
    />
    <label for="inv-checkbox"></label>
    <label>Perpetual Inventory</label>
  </div>
</div>
<div class="row tiny-margin">
  <div class="checkbox input-checkbox col s6 ">
    <input
      type="checkbox"
      [indeterminate]="bulk.trackable === null"
      class="checkbox-input"
      [(ngModel)]="bulk.trackable"
      (change)="checkboxChange($event,bulk.trackable)"
      id="trackable-checkbox"
    />
    <label for="trackable-checkbox"></label>
    <label>Trackable</label>
  </div>
  <div class="checkbox input-checkbox col s6 ">
    <input
      type="checkbox"
      [indeterminate]="bulk.status === null"
      class="checkbox-input"
      [(ngModel)]="bulk.status"
      (change)="checkboxChange($event,bulk.status)"
      id="hidden-checkbox"
    />
    <label for="hidden-checkbox"></label>
    <label>Hidden</label>
  </div>
</div>
<div class="row tiny-margin">
  <div class="checkbox input-checkbox col s6 ">
    <input
      type="checkbox"
      [indeterminate]="bulk.tax_exempt === null"
      class="checkbox-input"
      [(ngModel)]="bulk.tax_exempt"
      (change)="checkboxChange($event,bulk.tax_excempt)"
      id="ex-checkbox"
    />
    <label for="ex-checkbox"></label>
    <label>Tax Exempt</label>
  </div>
  <div class="checkbox input-checkbox col s6 ">
    <input
      type="checkbox"
      [indeterminate]="bulk.msds === null"
      class="checkbox-input"
      [(ngModel)]="bulk.reset_msds"
      (change)="checkboxChange($event,bulk.reset_msds)"
      id="msds-checkbox"
    />
    <label for="msds-checkbox"></label>
    <label>Reset MSDS</label>
  </div>

</div>