<div class="inner">
  <div class="row title center-align">{{ context.title }}</div>
  <div class="row center-align high">{{ context.text }}</div>

  <div class="row mtop mbot">
    <div class="center-align col s12">
      <button
        class="uptracker-form-btn"
        *ngIf="!hasCancel"
        (click)="dismissModal()"
      >Cancel</button>
      <button
        class="uptracker-form-btn"
        *ngFor="let btn of context.btns"
        (click)="btn.cancel ? dismissModal() : closeModal(btn.value)"
      >{{btn.text}}</button>
    </div>
  </div>
</div>
