@import "../../../../colors";

:host /deep/ {

  .close {
    transition: opacity .3s;
    width: 40px;
    height: 40px;
    background-color: $tealish;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    line-height: 40px;
    padding-right: 3px;
    &:hover {
      opacity: .8;
    }
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    &:after {
      content: '';
      flex: auto;
    }
  }

  .wrap {
    padding: 0;
    margin: 0 0.75rem;
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);

    input[type="text"] {
      height: 30px !important;
      border-radius: 3px !important;
      padding-right: 20px;
      background-color: #ffffff;
      border: solid 1px #d6d6d6 !important;
      text-align: center;
      margin-bottom: 3px;

      &:focus{
        outline: none;
      }
    }

    &:hover {
      .section-action {
        opacity: 1;
      }
    }
  }

  .title {
    margin-top: 0;
    font-size: 18px;
    font-family: Ubuntu;
  }

  .main-title{
    line-height: 30px;
    font-size: 28px;
    font-family: Ubuntu;
  }

  .buttons-group {
    button {
      padding: 0 20px;

      &:first-of-type {
        margin-right: 50px;
      }
    }
  }

  .img-container {
    width: 200px;
    height: 200px;
    border: 1px solid $light-grey;

    .img {
      height: 100%;
      background-position: center center;
      background-size: cover;
    }
  }

  .tip {
    display: flex;
  }

  .uptracker-form-btn {
    height: 30px;
    line-height:20px;
    min-width: 100px;
    background: $tealish;

    &[disabled] {
      background: $grey!important;
      pointer-events: none;
    }

  }

  .product-variant {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #cccccc;
    border-radius: 3px;

    &:hover {
      .delete-section {
        opacity: 1;
      }
    }

    input[type="text"] {
      border: none;
      text-align: center;
      height: 25px;
      margin-bottom: 3px;

      &:focus{
        outline: none;
      }
    }
  }

  div.section-action {
    right: -5px;
    top: -5px;
    opacity: 0;
    transition: all .3s;
  }

  .variant-action,
  .section-action {
    width: 16px;
    height: 16px;
    background-color: #cccccc;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    right: 14px;
    top: 5px;

    &:before {
      content: '';
      color: $white;
      font-size: 14px;
      display: flex;
      line-height: 13px;
      padding-left: 4.8px;
    }

    &.delete:before {
      content: 'x';
    }

    &.add:before {
      content: '+';
      line-height: 15px;
      padding-left: 4.4px;
    }
  }

  .bluebtn {
    padding: 0 10px;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    min-width: 80px;
    background: $tealish;
    color: $white;
    border-radius: 5px;
    margin-top:-2px;
    box-shadow:none;
    border:none;
  }

  .select {
    margin: 10px 0;
    padding: 0 10px;
  }

  .capitalize {
    text-transform: capitalize;
  }

  input[type="text"] {
    box-sizing: border-box;
    height:30px;
    border:1px solid $light-grey;
    border-radius:5px;
    padding-left:5px;
    background-color: $white;
    &:focus{
      border-color: $tealish;
    }
  }

  textarea {
    border: 1px solid $light-grey;
    border-radius:5px;
    padding: 5px;
    resize: none;
    height:auto;
    &:focus{
      border-color: $tealish;
      outline:none;
    }
  }

  .fa-question-circle {
    margin-left:5px;
    color: $tealish;
    &:hover{
      cursor: pointer;
    }
  }

  .checkbox-container {
    display:inline-block;
    position: relative;
    label{
      margin-right:10px;
    }
    .fa-question-circle {
      position: absolute;
      top:-3px;
      right:-1px;
    }
  }

  .technical-name-container {
    position: relative;
    .fa-question-circle {
      position: absolute;
      top:calc(50% + 4px);
      right:5px;
      transform:translateY(-50%);
      font-size:26px;
    }
  }

  @media (max-width: 800px) {
    .uptracker-form-btn,
    .bluebtn {
      min-width: 50px;
    }
  }
}
