.tabs{
  margin:-10px 0 29px;
}

.user-image{
  margin:0;

  .img-container{
    position:relative;
    width:170px;
    height:170px;
    background-image: url(/assets/img/onboard/icon-img-placeholder-users.svg);

    .file-field{
      position:absolute;
      text-align:center;
      left:0;
      top:120px;
      width:100%;
    }
  }

  .second-column{
    padding-top:13px;
    margin-bottom:5px;
  }
}

.switch-mode{
  margin:9px 0 0;

  .switcher{
    width:50%;
    height:38px;
    line-height:38px;
    box-shadow:0 0 0 1px #d6d6d6;
    background:#f5f6f7;
    border-radius:0 5px 5px 0;
    color:#9a9c9e;
    cursor:pointer;
    float:left;
    text-align:center;
    position:relative;

    &:first-child{
      border-radius:5px 0 0 5px;
    }

    &.active{
      background:#fff;
      color:#000;
      box-shadow:0 0 0 1px #33c6d9;
      z-index:2;
    }
  }
}

.buttons{
  margin-top:44px;
}