:host /deep/ {
  .dashboard{
    min-height: 100vh;

    .left-panel{
      float:left;
      width:200px;

      .logo {
        background: #404852;
        height:70px;
        padding:15px 7px 0 0;
      }

      .nav{
        a{
          display:block;
          color:#fff;
          font-family: 'Ubuntu';
          font-weight:bold;
          padding-left:66px;
          line-height:70px;
          text-transform: uppercase;
          background-repeat:no-repeat;

          &:hover{
            background-color:#198f90;
            text-decoration: none;
          }

          &.orders{
            background-image: url(/assets/img/icon-nav-orders.svg);
            background-position:19px center;
          }

          &.products{
            background-image: url(/assets/img/icon-nav-products.svg);
            background-position:22px center;
          }

          &.inventory{
            background-image: url(/assets/img/icon-nav-inventory.svg);
            background-position:16px center;
          }

          &.transfers{
            background-image: url(/assets/img/icon-nav-transfers.svg);
            background-position:14px center;
          }

          &.vendors{
            background-image: url(/assets/img/icon-nav-vendors.svg);
            background-position:17px center;
          }

          &.locations{
            background-image: url(/assets/img/icon-nav-locations.svg);
            background-position:17px center;
          }

          &.users{
            background-image: url(/assets/img/icon-nav-users.svg);
            background-position:14px center;
          }
        }
      }
    }

    .main-column{
      margin-left:200px;
      min-height: 100vh;
      background:#f5f6f7;

      .header{
        height:69px;
        background:#fff;
        position:relative;
        box-shadow: 0 1px 0 0 #d6d6d6;

        .select{
          margin:19px 0 0 19px;
          width:200px;
          max-width:calc(100% - 19px);

          .select-wrapper{
            .caret{
              background:url(/assets/img/icon-dropdown-arrow.svg) no-repeat center center;
              text-indent:-5000px;
              width:10px;
              height:6px;
              top:50%;
              margin-top:-3px;
              right:10px;
            }

            input.select-dropdown{
              height: 30px;
              border-radius: 5px;
              border: 1px solid #979797;
              font-weight:bold;
              text-indent:8px;
              font-size:12px;
              line-height:normal;
            }

            .dropdown-content{
              box-shadow:none;
              border:1px solid #979797;
              border-radius:5px;

              li{
                min-height:inherit;

                &:hover{
                  background:#f5f5f5;
                }

                span{
                  color:#444;
                  padding:0 0 0 8px;
                  font-size:12px;
                  line-height:30px;
                }
              }
            }
          }

          //select{
          //  font-weight:bold;
          //  padding-left:8px;
          //  padding-top:4px;
          //  font-size:12px;
          //  -webkit-appearance: none;
          //  -moz-appearance: none;
          //  appearance: none;
          //  background:url(/assets/img/icon-dropdown-arrow.svg) no-repeat calc(100% - 11px) center;
          //}
        }
      }

      .content-wrapper{

      }
    }
  }
}

@media all and (max-width: 768px) {
  .dashboard{
    .left-panel{
      width:70px;

      .logo{
        a{
          background-image: url(/assets/img/icon-nav-uptracker.svg);
          width:26px;
          height:45px;
          padding-right:0;
        }
      }

      .nav{
        a{
          text-indent:-5000px;
        }
      }
    }

    .main-column{
      margin-left:70px;

      .header{

      }
    }
  }
}

@media all and (max-width: 480px) {
  .dashboard{
    .main-column {
      margin-left: 70px;

      .header {
        .select {
          margin-left: 0;
          width: 100px;
          max-width:inherit;
        }
      }
    }
  }
}