@import "../../colors.scss";

@mixin collapsed-left-panel {
  width: 200px;


  .logo {
    a {
      width: 153px;
      height: 34px;
      padding-right: 35px;
      // TODO: remove after testing
      //background: url(/assets/img/logo.svg) no-repeat center center;
      //background-size: auto 100%;
    }
  }

  .nav a {
    text-indent: 0;
  }
}

:host /deep/ {


  .ds-info-flag{
    position: absolute;
    left:3px;
    top:3px;
    background-color: $white;
    border-radius: 50%;
    height:19px;
    width:19px;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    text-indent: initial;
  }

  .buttons-topright{

    position: absolute;
    top:10px;
    right:0;

    button {
      display:block;
      float:left;
      letter-spacing: normal!important;
      background: $tealish;
      text-transform: none;
      height:30px;
      min-width: 80px;
      padding:0 6px;
      line-height: 30px;
      margin-right: 10px;
      font-size:14px;
      font-family: sans-serif;
      font-weight:normal;
      i {
        font-size: 14px;
      }
      &:hover {
        background: $tealish;
        box-shadow: 0 5px 0 0 #e6e6e6;
      }
      &.disabled{
        background:$light-grey;
      }

      &.redbtn {
        color:$red!important;
        border: 1px solid $red;
        background-color: $white;

      }
    }
  }

  .dashboard {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    //justify-content: flex-end;
    //flex-shrink: 0;
    .main-column {
      margin-left: 70px;
      margin-top: 70px;
    }

    .left-panel {
      //float:left;
      width: 70px;
      transition: width .3s ease-out 0.05s;
      overflow: hidden;
      position: fixed;
      z-index: 999;
      background-color: $tealish;
      .nav {
        height: calc(100vh - 70px);
      }
      .logo {
        background: #404852;
        height: 70px;
        padding: 15px 7px 0 0;

        a {
          // TODO: remove after testing
          //background-image: url(/assets/img/icon-nav-uptracker.svg);
          //width:26px;
          //height:45px;
          padding-right: 0;

          height: 34px;
          width: 22px;
          background: url(/assets/img/logo.svg) no-repeat right center;
          background-size: auto 100%;
          transition: width .3s ease-out 0.05s;
        }
      }

      .nav {
        a {
          z-index: 999;
          background-color: $tealish;
          display: block;
          color: #fff;
          font-family: 'Ubuntu';
          font-weight: bold;
          padding-left: 66px;
          line-height: 70px;
          text-transform: uppercase;
          background-repeat: no-repeat;
          white-space: nowrap;
          text-indent: -5000px;

          &:hover,
          &.active {
            background-color: #18a6b9;
            text-decoration: none;
          }

          &.orders {
            background-image: url(/assets/img/icon-nav-orders.svg);
            background-position: 19px center;
          }

          &.dash {
            background-image: url(/assets/img/icon-nav-dashboard.svg);
            background-position: 13px center;
          }

          &.shopping {
            background-image: url(/assets/img/icon-nav-shoppinglist.svg);
            background-position: 15px center;
          }

          &.products {
            background-image: url(/assets/img/icon-nav-products.svg);
            background-position: 22px center;
          }

          &.inventory {
            background-image: url(/assets/img/icon-nav-inventory.svg);
            background-position: 16px center;
          }

          &.transfers {
            background-image: url(/assets/img/icon-nav-transfers.svg);
            background-position: 14px center;
          }

          &.vendors {
            background-image: url(/assets/img/icon-nav-vendors.svg);
            background-position: 17px center;
          }

          &.locations {
            background-image: url(/assets/img/icon-nav-locations.svg);
            background-position: 17px center;
          }

          &.users {
            background-image: url(/assets/img/icon-nav-users.svg);
            background-position: 14px center;
          }
        }
      }

      &.collapsed {
        @include collapsed-left-panel;
      }

    }

    .main-column {
      margin-top: 70px;
      flex: 1;
      //margin-left:70px;
      min-height: calc(100vh - 70px);
      background: #f5f6f7;
      overflow: hidden;

      .header {
        z-index: 998;
        height: 69px;
        left: 70px;
        top: 0;
        right: 0;
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 0 0 #d6d6d6;

        .locations-single {
          padding-top: 3px;
        }

        .select {
          margin: 19px 0 0 19px;
          width: 200px;
          max-width: calc(100% - 19px);

          .caret {
            right: 10px;
          }

          input.select-dropdown {
            height: 30px;
            border: 1px solid #979797;
            font-weight: bold;
            text-indent: 8px;
            font-size: 12px;
          }

          .dropdown-content {
            border: 1px solid #979797;
            margin-top: 0;

            li {
              span {
                padding: 0 0 0 8px;
                font-size: 12px;
                line-height: 30px;
              }
            }
          }
        }
      }

      .content-wrapper {
        padding: 34px 25px 40px 30px;
        position: relative;

        .top {
          margin-bottom: 17px;

          .title {
            min-width: 200px;
            white-space: nowrap;
            line-height: 30px;
            font-size: 28px;
            font-family: Ubuntu;

            .main-title {
              font-weight: bold;
              margin-right: 10px;
            }

            .sub-title {
              font-weight: 300;
              color: #33c6d9;
              margin-left:45px;
            }
          }

          .filter {
            
            input {
              //width: 200px;
              margin: 0;
              font: 12px Lato;
              box-sizing: border-box;
              background: $white;
              color: $grey;
            }

            .sortby {
              input {
                width:100%;
              }
            }

            .input {

              input {
                padding: 0 10px;
              }
            }

            .select {
              height: 32px;
              margin-bottom: 10px;

              .select-wrapper.ng-valid input.select-dropdown {
                border-color: #d6d6d6;
              }

              .select-wrapper .dropdown-content {
                margin: 0;

                li span {
                  font-size: 12px;
                  line-height: 30px;
                }
              }
            }

            .uptracker-toggle-view {
              font-size: 24px;
              height: 30px;
              line-height: 32px;
              text-align: right;
            }
            .uptracker-toggle-view {
              i {
                color: $tealish;
              }
            }
          }

          button {
            margin-bottom: 12px;
          }

          .uptracker-form-btn {
            background: #33c6d9;
            height: 30px;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: normal;
          }

        }
      }
    }
  }

}

@media all and (min-width: 769px) {
  :host /deep/ {
    .left-panel {
      &:hover {
        @include collapsed-left-panel;
      }
    }
  }
}

@media all and (max-height: 700px) {
  :host /deep/ {
    .left-panel .nav a {
      line-height: calc(10vh - 4px) !important;
      background-size: auto 6vh;
    }
  }
}

@media all and (max-width: 1023px) {
  :host /deep/ {
    .dashboard .main-column .content-wrapper {
      padding-left: 15px;
      padding-right: 15px;

      .top {
        .title {
          margin-bottom: 10px;
        }

        .filter {
          float: none;
          max-width: 100%;
          clear: both;
          margin-right: 0;

        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .dashboard {
    .main-column {
      //margin-left: 70px;

      .header {
        .select {
          margin-left: 0;
          width: 100px;
          max-width: inherit;
        }
      }
    }
  }
}
