<div class="products content">
  <div class="row">
    <div class="list col m8 s12">
      <div class="top row">
        <div class=" col m7 s12">
          <div class="title">
            <div class="main-title left">Shopping List</div>
            <div class="sub-title">{{total}} items</div>
          </div>
        </div>

        <div class="right-align">
          <div class="filter-field" (click)="showFiltersModal()">
            <i class="fa fa-filter"></i>
            <span>Filters</span>
          </div>

          <button type="button"
            routerLink="/products"
            class=" hide-on-small uptracker-form-btn waves-light waves-effect">
            Add Product
          </button>
          <button type="button"
            routerLink="['/products']"
            class="small show-on-small uptracker-form-btn waves-light waves-effect">
            <div class="fa fa-plus"></div>
          </button>
        </div>
      </div>

      <div class="heading row">
        <div class="col s4">
          <div class="row">
            <div class="col s2">
              <div class="input-checkbox checkbox">
                <input
                  type="checkbox"
                  class="checkbox-input"
                  [(ngModel)]="selectAll"
                  id="selectAll"
                />
                <label for="selectAll"></label>
              </div>
            </div>
            <div class="col s10">
              Product name
            </div>
          </div>
        </div>
        <div class="col s2">Location</div>
        <div class="col s3">Vendor</div>
        <div class="col s1">Qty.</div>
        <div class="col s2">Price</div>
      </div>
      <div class="item row" *ngFor="let product of (cart$ | async); let i=index">
        <div class="col s4">
          <div class="row">
            <div class="col s2">
              <div class="input-checkbox checkbox">
                <input
                  type="checkbox"
                  class="selected-input{{i}}"
                  [(ngModel)]="product.status"
                  id="selected{{i}}"
                  (change)="changeRow(product)"
                />
                <label for="selected{{i}}"></label>
              </div>
            </div>
            <div class="col s10 prod-name">
              <span [routerLink]="['/products',product.id]">{{product.name}}</span>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="select inbl">
            <select [(ngModel)]="product.location_id" (change)="changeRow(product)" materialize="material_select">
              <option *ngFor="let location of (userService.selfData$ | async)?.account?.locations"
                (click)="last_loc = product.location_id"
                [value]="location.id">{{ location.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col s3">
          <div class="select inbl relative">
            <span class="caret-select"></span>
            <input materialize="dropdown"
              [attr.data-activates]="'dropd'+i"
              [(ngModel)]="product.selected_vendor.vendor_name">
            <!--<a materialize="dropdown" class='dropdown-button btn' href='#' data-activates='_dd'>Choose</a>-->
            <!-- Dropdown Structure -->
            <ul id="dropd{{ i }}" materialize="dropdown" class='dropdown-content vendors-dd'>
              <li (click)="updateVendor(product, {vendor_name:'Auto'})">
                <div class="col s2 image-container"></div>
                <div class="col s8 inblock">Auto select</div>
                <div class="col s2 inblock"></div>
              </li>
              <li *ngFor="let vendor of product.vendors " (click)="updateVendor(product, vendor)">
                <div class="col s2 image-container"
                  [ngStyle]="{ 'background-image': 'url(' + (vendor.image_url ? vendor.image_url : '/assets/img/icon-nav-vendors.svg') + ')' }"></div>
                <div class="col s8 inblock">{{ vendor.vendor_name }}</div>
                <div class="col s2 inblock">{{ vendor.book_price }}</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s1">
          <div class="input">
            <input
              (change)="changeRow(product)"
              type="text"
              class="qua-input{{i}}"
              [(ngModel)]="product.qty"
              id="qty{{i}}"
            />
            <label for="qty{{i}}"></label>
          </div>
        </div>
        <div class="col s2">
          <a *ngIf="product.selected_vendor.vendor_name != 'Auto'" (click)="changePriceModal(product)">
            ${{ product.price_lower }}-{{ product.price_upper }}
          </a>
          <span *ngIf="product.selected_vendor.vendor_name == 'Auto'">
            ${{ product.price_lower }}-{{ product.price_upper }}
          </span>

        </div>
        <div (click)="saveItem(product)" *ngIf="changed[product.id]" class="save-sign">
          <i class="fa fa-save red-text"></i>
        </div>
      </div>
    </div>
    <div class="orders-preview col m4 s12">
      <div class="row">
        <div class="col s11">
          <div class="main-title less-title">Orders Preview</div>
          <div class="grey-text">7 products selected</div>
        </div>
        <div class="col s1" (click)="viewSettingsModal()">
          <i class="fa fa-gear right"></i>
        </div>
      </div>
      <div class="order-list">
        <div *ngFor="let order of (cartService.ordersPreview$ | async)" class="row order-list-item">
          <div class="col s9">
            <div class="order-heading">{{ order.type }}</div>
            <div class="order-price">{{ order.total }}</div>
            <div class="order-count">{{ order.order_count }} Orders</div>
          </div>
          <div class="col s3" [routerLink]="['orders-preview',order.order_id ]">
            <div class="inbl">
              <i class="fa fa-shopping-cart"></i>
              <div>Preview</div>
            </div>
          </div>
        </div>
        <div>
          <a>Compare All</a>
        </div>
      </div>
    </div>
  </div>
</div>
