<div class="products content">
  <div class="row">
    <div class="list col m7 s12">

      <div class="top">
        <div class="title left">
          <div class="main-title left">Shopping List</div>
          <div class="sub-title">{{total}} items</div>
        </div>
        <button type="button" (click)="addProduct()" class="right uptracker-form-btn waves-light waves-effect">
          Add Product
        </button>
        <div class="filter-field right" (click)="showFiltersModal()">
          <i class="fa fa-filter"></i>
          <span>Filters</span>
        </div>
      </div>

      <div class="heading row">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <div class="input-checkbox checkbox">
                <input
                  type="checkbox"
                  class="checkbox-input"
                  [(ngModel)]="selectAll"
                  id="selectAll"

                />
                <label for="selectAll"></label>
              </div>
            </div>
            <div class="col s10">
              Product name
            </div>
          </div>
        </div>
        <div class="col s4">Vendor</div>
        <div class="col s1">Qty.</div>
        <div class="col s1">Price</div>
      </div>

      <div class="item row" *ngFor="let product of (order$ | async)?.products; let i=index">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <div class="input-checkbox checkbox">
                <input
                  type="checkbox"
                  class="selected-input{{i}}"
                  [(ngModel)]="product.selected"
                  id="selected{{i}}"
                  (change)="onCheck()"
                />
                <label for="selected{{i}}"></label>
              </div>
            </div>
            <div class="col s10">
              <span (click)="viewProductModal(product)">{{product.name}}</span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="select inbl">
            <select [(ngModel)]="product.selectedVendor" (change)="onVendorChange(product)" materialize="material_select">
              <option *ngFor="let vendor of product.vendors" [value]="vendor.id">{{ vendor.name }}</option>
            </select>
          </div>
        </div>
        <div class="col s1">
          <div class="input">
            <input
              type="text"
              class="hazardous-input{{i}}"
              [(ngModel)]="product.quantity"
              id="hazardous{{i}}"
            />
            <label for="hazardous{{i}}"></label>
          </div>
        </div>
        <div class="col s1">
          {{ product.selectedPrice || product.vendors[0].price || 0 }}
        </div>
      </div>
    </div>

    <div class="orders-preview col m5 s12">

      <div class="row">
        <div class="col s11">
          <div class="main-title less-title">Orders Preview</div>
          <div class="grey-text">7 products selected</div>
        </div>
        <div class="col s1" (click)="viewSettingsModal()">
          <i class="fa fa-gear right"></i>
        </div>
      </div>

      <div class="order-list">

        <div *ngFor="let order of (orders$ | async)" class="row order-list-item">
          <div class="col s9">
            <div class="order-heading">{{ order.name }}</div>
            <div class="order-price">${{order.total}}</div>
            <div class="order-count">2 Orders</div>
          </div>
          <div class="col s3" (click)="selectOrder(order.id)" >
            <div class="inbl">
              <i class="fa fa-shopping-cart"></i>
              <div>Preview</div>
            </div>
          </div>
        </div>



        <div><a>Compare All</a></div>

      </div>
    </div>
  </div>
</div>
