<div class="products content">
  <div class="row">
    <div class="list col m7 s12">

      <div class="top">
        <div class="title left">
          <div class="main-title left">Shopping List</div>
          <div class="sub-title">{{total}} items</div>
        </div>
        <button type="button" (click)="addProduct()" class="right uptracker-form-btn waves-light waves-effect">Add
          Product
        </button>
      </div>

      <div class="heading row">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <div class="input-checkbox checkbox">
                <input
                  type="checkbox"
                  class="checkbox-input"
                  [(ngModel)]="selectAll"
                  id="selectAll"
                  (click)="toggleSelectAll(!selectAll)"
                />
                <label for="selectAll"></label>
              </div>
            </div>
            <div class="col s10">
              Product name
            </div>
          </div>
        </div>
        <div class="col s4">Vendor</div>
        <div class="col s1">Qty.</div>
        <div class="col s1">Price</div>
      </div>

      <div class="item row" *ngFor="let product of products$ | async; let i=index">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <div class="input-checkbox checkbox">
                <input
                  type="checkbox"
                  class="selected-input{{i}}"
                  [(ngModel)]="product.selected"
                  id="selected{{i}}"
                  (change)="onCheck()"
                />
                <label for="selected{{i}}"></label>
              </div>
            </div>
            <div class="col s10">
              <span (click)="viewProductModal(product)">{{product.name}}</span>
            </div>
          </div>
        </div>
        <div class="col s4">
            <div class="select inbl">
              <select [(ngModel)]="product.vendor" materialize="material_select" >
                <option value="">Sort by</option>
                <option value="A-Z">A-Z</option>
                <option value="Z-A">Z-A</option>
              </select>
            </div>
        </div>
        <div class="col s1">
          <div class="input">
            <input
              type="text"
              class="hazardous-input{{i}}"
              [(ngModel)]="product.quantity"
              id="hazardous{{i}}"
            />
            <label for="hazardous{{i}}"></label>
          </div>
        </div>
        <div class="col s1">
          {{ product.price_min }}
        </div>
      </div>
    </div>

    <div class="orders-preview col m5 s12">
      <div class="col s11">
        <div class="main-title less-title">Orders Preview</div>
        <div class="grey-text">7 products selected</div>
      </div>
      <div class="col s1">
        <i class="fa fa-gear"></i>
      </div>
      <div class="order-list">
        <div class="row order-list-item">
          <div class="col s9">
            <div class="order-heading">Uptracker Optimized</div>
            <div class="order-price">$1,100.00</div>
            <div class="order-count">2 Orders</div>
          </div>
          <div class="col s3">
            <i class="fa fa-shopping-cart"></i>
            <div>Preview</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
