/* You can add global styles to this file, and also import other style files */
//@import "~materialize-css/sass/components/_color.scss";
//@import "~materialize-css/sass/components/_waves.scss";

body{
  background: #33c6d9;
  font-family: 'Lato', 'Roboto', Tahoma, Arial, sans-serif;
  font-size:14px;
}

a{
  color:#33c6d9;

  &:hover{
    text-decoration: underline;
  }
}