/* You can add global styles to this file, and also import other style files */
//@import "~materialize-css/sass/components/_color.scss";
//@import "~materialize-css/sass/components/_waves.scss";

body{
  background: #33c6d9;
  font-family: 'Lato', 'Roboto', Tahoma, Arial, sans-serif;
  font-size:14px;
}

a{
  color:#33c6d9;

  &:hover{
    text-decoration: underline;
  }
}

.btn,.btn-floating{
  &:hover{
    text-decoration:none;
  }
}

.select{
  select{
    height:30px;
    border-radius:5px;
    border-color:#979797;

    &:focus{
      outline:0;
    }
  }
}

button{
  &[disabled]{
    cursor:default !important;
  }
}


/*** Materialize styles
*************************************************/

#toast-container {
  .toast {
    opacity: 0.9 !important;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 1%;
    right: 2%;
    max-width: 86%;
  }
}