<div class="products content">
  <div class="top">
    <div class="row filter uptracker-form clearfix">
      <div class="col m12 l6">
        <span class="title">
          <span class="main-title ">Receive Products</span>
          <span class="sub-title">{{total}} items</span>
        </span>

      </div>
      <div class="ptop5 filter-right">
        <div class="col m9 l3 input wide-input">
          <input type="text"
            placeholder="Packing Slip #"
            [(ngModel)]="searchKey"
            class="col s12"
            (input)="searchFilter($event)"/>
        </div>
        <div class="col m3 right-align">
          <button
            type="submit"
            class="uptracker-form-btn no-min-width white-text waves-effect waves-light"
          >
            <fa name="check"></fa>
            Save
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="list is-grid-view">
      <div>
        <div class="heading row">
          <div class="col s3">Product</div>
          <div class="col s3">Inventory Item</div>
          <div class="col s2">Location</div>
          <div class="col s1">Quantity</div>
          <div class="col s2">Status</div>
          <div class="col s1"></div>
        </div>
        <div class="item row" *ngFor="let item of mockItems">
          <div class="col s3 tealish-text flex-center">
            <div>Band lower unilateral #22</div>
          </div>
          <div class="col s3">
            <div class="select flex-center">
              <select
                materialize="material_select"
                [materializeSelectOptions]="monthArr">
                <option value="">Band Lower Unilateral</option>
                <option value="">Band Lower Unilateral2</option>
                <option value="">Band Lower Unilateral3</option>
              </select>
            </div>
          </div>
          <div class="col s2">
            <div class="select flex-center" >
              <select
                materialize="material_select"
                [materializeSelectOptions]="monthArr">
                <option value="">Location A</option>
                <option value="">Location B</option>
                <option value="">Location C</option>
              </select>
            </div>
          </div>
          <div class="col s1 ">
            <div class="input flex-center">
              <input type="text" value="1">
            </div>
          </div>
          <div class="col s2 ">
            <div class="select flex-center" >
            <select
              materialize="material_select"
              [materializeSelectOptions]="monthArr">
              <option value="">Receive</option>
              <option value="">Other Option 1</option>
              <option value="">Other Option 2</option>
            </select>
          </div></div>
          <div class="col s1 center-align flex-center justify-center">
            <fa name="trash" class="tealish-text"></fa>
          </div>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="right mtop uptracker-form-btn white-text waves-effect waves-light"
    >
      <fa name="plus"></fa>
      Add Product
    </button>

  </div>
</div>