  <div class="auth-box center-align">
    <div class="title">Payment Information</div>
    <div class="subtitle">How will you be paying for orders?</div>
    <form class="uptracker-form" materialize (ngSubmit)="onSubmit()" #signupForm="ngForm" autocomplete="off" novalidate>
      <div class="input row">
        <div class="label left-align">Credit Card Number</div>
        <input
            id="cardNumber"
            placeholder="Enter a valid creditcard number here"
            class="validate col s12"
            [textMask]="{mask: masks.card, guide:false}"
            [(ngModel)]="creditCard.cardNumber"
            name="cardNumber" data-stripe="exp_number"
            #cardNumber="ngModel"
            required
            type="text">
        <div [hidden]="cardNumber.valid || cardNumber.pristine" class="error red-text left-align">
          Credit card number is required.
        </div>
      </div>

      <div class="row split-input-row expiration-row">
        <div class="label left-align col s12">Expiration Date</div>
        <div class="input col s6 expMonth">
          <input
              id="expMonth"
              placeholder="Month"
              class="validate col s12"
              [textMask]="{mask: masks.expYear, guide:false}"
              [(ngModel)]="creditCard.expMonth"
              name="expMonth" data-stripe="exp_month"
              #expMonth="ngModel"
              required
              type="text">
          <div [hidden]="expMonth.valid || expMonth.untouched" class="error red-text left-align">
            Expiration month is required.
          </div>
        </div>
        <div class="input col s6">
          <input
              id="expYear"
              placeholder="Year"
              class="validate col s12"
              [textMask]="{mask: masks.expYear, guide:false}"
              [(ngModel)]="creditCard.expYear"
              name="expYear" data-stripe="exp_year"
              #expYear="ngModel"
              required
              type="text">
          <div [hidden]="expYear.valid || expYear.untouched" class="error red-text left-align">
            Expiration year is required.
          </div>
        </div>
      </div>

      <div class="input row">
        <div class="clearfix">
          <div class="label left-align">CVC</div>
          <input
              id="number"
              class="validate col s12"
              placeholder="222"
              [textMask]="{mask: masks.cvc, guide:false}"
              [(ngModel)]="creditCard.cvc"
              name="number" size="20" data-stripe="number"
              required minlength="3"
              #number="ngModel"
              type="text">
          <div [hidden]="number.valid || number.untouched" class="col-12 alert alert-danger">
            CVC is required.
          </div>
        </div>
      </div>

      <div class="row split-input-row">
        <div class="input col s6">
          <div class="label left-align">City</div>
          <input
              id="cardCity"
              placeholder="Enter city name"
              class="validate col s12"
              [(ngModel)]="creditCard.cardCity"
              name="cardCity"
              #cardCity="ngModel"
              required
              type="text">
          <div [hidden]="cardCity.valid || cardCity.untouched" class="error red-text left-align">
            City is required.
          </div>
        </div>
        <div class="input col s6">
          <div class="label left-align">Zip Code</div>
          <input
              id="cardZip"
              placeholder="Enter zip code"
              class="validate col s12"
              [(ngModel)]="creditCard.cardZip"
              name="cardZip"
              #cardZip="ngModel"
              required
              type="text">
          <div [hidden]="cardZip.valid || cardZip.untouched" class="error red-text left-align">
            Zip code is required.
          </div>
        </div>
      </div>

      <div class="input row">
        <div class="label left-align">Trial Code</div>
        <input
            id="trial"
            placeholder="Enter trial code"
            class="validate col s12"
            [(ngModel)]="trialCode"
            name="trial"
            #trial="ngModel"
            type="text">
        <div [hidden]="trial.valid || trial.pristine" class="error red-text left-align">
          Trial Code number is required.
        </div>
      </div>

      <div class="buttons">
        <button
            type="button"
            [routerLink]="['']"
            class="btn white-text waves-effect waves-light left">
          Back
        </button>
        <button
            type="submit"
            class="btn white-text waves-effect waves-light right"
            [class.disabled]="!signupForm.form.valid"
            [disabled]="!signupForm.form.valid">
          Next
        </button>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
