<div class="inner" [class.grey-blocks]="discounts.length>0">
  <div class="clearfix row title center-align">Pricing Info</div>
  <div class="row checks-row">
    <div class="col s4">
      <input value="book" type="radio" name="price_type" id="price_type_book">
      <label for="price_type_book"></label>
      <label for="price_type_book" class="grey-text smaller">${{ selectedVendor.book_price }}</label>
      <label for="price_type_book">Book</label>
    </div>
    <div class="col s4">
      <input value="negotiated" type="radio" name="price_type" id="price_type_negotiated">
      <label for="price_type_negotiated"></label>
      <label for="price_type_negotiated" class="grey-text smaller">$0</label>
      <label for="price_type_negotiated">Negotiated</label>
    </div>
    <div class="col s4">
      <input value="club" type="radio" name="price_type" id="price_type_club">
      <label for="price_type_club"></label>
      <label for="price_type_club" class="grey-text smaller">${{ selectedVendor.club_price }}</label>
      <label for="price_type_club">Club</label>
    </div>
    <div class="right-grey">
      <div class="right-ttl">Org. Price</div>
      <div class="right-price">$90.00</div>
    </div>
  </div>

  <div class="row">
    <div class="discount_row discount-titles">
      <div class="row grey-text titles">
        <div class="col s4">Type</div>
        <div class="col s3">Amount</div>
        <div class="col s4">Rewards Pts.</div>
        <div class="col s1"></div>
      </div>
    </div>
    <div class="right-grey">
      <div class="right-ttl">Discounts</div>
    </div>
  </div>

  <div class="row discounts clearfix" *ngFor="let d of discounts">
    <div class="discount_row">
      <div class="row thinrow">
        <div class="col s4 padnoright">
          <div class="left select">
            <select [(ngModel)]="sortBy" materialize="material_select" (change)="itemsSort($event)">
              <option value="fixed">Fixed</option>
              <option value="onemore">One more</option>
            </select>
          </div>
        </div>
        <div class="col s3 pad7px">
          <div class="input">
            <input type="text" value="$5.00">
          </div>
        </div>
        <div class="col s3">
          <div class="input">
            <input type="text" value="0">
          </div>
        </div>
        <div class="col s1 trash">
          <i (click)="removeDiscount()" class="fa fa-trash red-text"></i>
        </div>
      </div>
    </div>
    <div class="right-grey">
      <div class="right-price">-$5.00</div>
    </div>
  </div>

  <div class="row discount-adder">
    <div class="col s12">
      <div class="add-discount right tealish-text clearfix" (click)="addDiscount()">
        <i class="fa fa-plus"></i>
        Add discount
      </div>
    </div>
    <div class="right-grey">
      <div class="right-ttl">Total</div>
      <div class="right-price">$85.00</div>
    </div>
  </div>
  <div class="center-align col s12 clearfix bottom-buttons">
    <button class="uptracker-form-btn" (click)="dismissModal()">Cancel</button>
    <button class="uptracker-form-btn ">Save</button>
  </div>
</div>

