<div class="inner">
  <div class="row title center-align">Pricing Info</div>
  <div class="row checks-row">
    <div class="col s4">
      <input value="book" type="radio" name="price_type" id="price_type_book">
      <label for="price_type_book" class="grey">$200.00</label>
      <label for="price_type_book">Book</label>
    </div>
    <div class="col s4">
      <input value="negotiated" type="radio" name="price_type" id="price_type_negotiated">
      <label for="price_type_negotiated" class="grey">$100.00</label>
      <label for="price_type_negotiated">Negotiated</label>
    </div>
    <div class="col s4">
      <input value="club" type="radio" name="price_type" id="price_type_club">
      <label for="price_type_club" class="grey">$90.00</label>
      <label for="price_type_club">Club</label>
    </div>
  </div>
</div>
