<div class="intl-tel-input allow-dropdown">
  <div class="flag-container">
    <div class="selected-flag" (click)="viewCountryList = !viewCountryList">
      <div class="iti-flag {{selectedCountry[1]}}"></div>
      <div class="iti-arrow"></div>
    </div>
    <ul class="country-list" [class.hide]="!viewCountryList">
      <li class="country" [class.highlight]="country[1] == selectedCountry[1]" *ngFor="let country of allCountries" (click)="selectCountry(country)">
        <div class="flag-box"><div class="iti-flag {{country[1]}}"></div></div>
        <span class="country-name">{{country[0]}}</span>
        <span class="dial-code">+{{country[2]}}</span>
      </li>
    </ul>
  </div>
  <input
      id="input.id"
      placeholder="{{input.placeholder}}"
      class="{{input.class}}"
      [textMask]="input.mask"
      [(ngModel)]="input.model"
      name="{{input.name}}"
      #{{input.id}}="ngModel"
      required
      type="text">
</div>