<div class="users content">
  <div class="top">
    <div class="title left">
      <div class="main-title left">Users</div>
      <div class="sub-title">{{total}} total</div>
    </div>
    <div class="filter uptracker-form right">
      <div class="left input">
        <input type="text"
          placeholder="Keywork search"
          [(ngModel)]="searchKey"
          class="col s12"
          (input)="usersFilter($event)"/>
      </div>
      <div class="left">
        <button type="button" (click)="editUserModal()" class="uptracker-form-btn waves-light waves-effect">Add New
          User
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="users-row">
    <div class="list">
      <div class="item center-align" *ngFor="let user of users$ | async">
        <div class="inner" [routerLink]="'view/'+[user.id]">
          <div class="img" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')' }"></div>
          <div class="info">
            <div class="ttl">{{user.name}}</div>
            <div class="send-msg"
              [class.hidden]="user.id==userService.selfData.id"
              (click)="sendMessageToUser(user); $event.stopPropagation()"></div>
            <div class="edit"  [routerLink]="'edit/'+[user.id]" (click)="$event.stopPropagation()"></div>
          </div>
        </div>
      </div>
      <div class="empty item"  ></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>