@import "../../../colors.scss";
:host /deep/ {
  .stock {
    margin-right: 250px;
    .top {
      position: relative;
      .title {
        margin-bottom: 15px;
      }
      .sub-title {
        font-size: 18px;
      }
      .add-product {
        position: absolute;
        right: 0;
      }
    }
    .control {
      display: flex;
      justify-content: flex-end;
      .select {
        max-width: 200px;
      }
      .input {
        max-width: 200px;
      }
    }
    .product-header {
    }
    .product-table {
    }
    .product-list {
      
    }
  }
}