<div class="stock content">
  <div class="row top">
    <div class="title left">Stock Count</div>
    <button class="add-product">ADD PRODUCT</button>
  </div>
  <div class="row control">
    <div class="select">
      <select title="sort by" [(ngModel)]="sort" materialize="material_select" (change)="sortAlphabet($event)">
        <option value="A-Z">A-Z</option>
        <option value="Z-A">Z-A</option>
      </select>
    </div>
    <div class="input wide-input">
      <input type="text" [(ngModel)]="filter" (ngModelChange)="filterChange($event)">
    </div>
  </div>
  <div class="row product-header">
    <div class="col">Product</div>
    <div class="col">Count By</div>
    <div class="col">Current QTY</div>
    <div class="col">Actual QTY</div>
    <div class="col">Reason</div>
  </div>
  <div class="row product-list" *ngFor="let product of products; let i = index">
    <div class="col preview"></div>
    <div class="col title">{{product.title}}</div>
    <div class="col count">{{product.countBy}}</div>
    <div class="col current">{{product.currentQTY}}</div>
    <div class="col actual">{{product.actual}}</div>
    <div class="col reason">{{product.reason}}</div>
  </div>
</div>
